<div class="project-page">

    <!-- BACK TO UNIT HUB ---------------------------------------------- -->
    <button class="btn-back2hub">
        <span class="btn-icon">&#10229;</span>
        <a [routerLink]="['/units/']" class="btn-txt">Hub</a>
    </button>

    <!-- PERSPECTIVE HEADER ---------------------------------------------- -->
    <div *ngIf="perspective" class="perspective_header">
                <h3 class="p_title" *ngIf="perspective.title?.length">{{ perspective.title }}</h3>
                <h3 class="p_author" *ngIf="perspective.author?.length">{{ perspective.author }}</h3>
                <div class="perspective-theme-container">
                    <div *ngFor="let t of perspective.themes" class="themes">{{t.theme_name}}</div>
                </div>
    </div>



    <!-- BODY BODY BODY BODY ---------------------------------------------------- -->
    <!-- BODY BODY BODY BODY ---------------------------------------------------- -->
    <body class="main">

        <!-- for each COMPONENT OF BODY ---------------------------------------------------- -->
        <ng-container *ngFor="let body of perspective.body, let i = index" 
        class="perspective_component perspective_API_content "> 

            <!-- COMPONENT > "intro" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'text-types.intro'" 
            class="section-grid">
                <!-- intro text -->
                <div class="comp_intro_container">
                    <ng-container class="comp_intro" *ngIf="perspective.body[i].text?.length">
                        {{ perspective.body[i].text }}
                    </ng-container> 
                </div>
            </div>



            <!-- COMPONENT > "subhead" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'text-types.subhead'" 
            class="section-grid">
                <p class="subhead" *ngIf="perspective.body[i].subhead?.length">
                    {{perspective.body[i].subhead}}
                </p>
            </div>


            <!-- COMPONENT > "paragraph-plain" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'text-types.paragraph-plain'" 
            class="section-grid">
                <!-- text -->
                <markdown class="plain_text" *ngIf="perspective.body[i].paragraph?.length">
                    {{ perspective.body[i].paragraph }}
                </markdown> 
            </div>
        


            <!-- COMPONENT > "paragraph-with-machine" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'text-types.paragraph-with-machine'" 
            class="section-grid">
                <div class="comp_textblock_machine">
                    <!-- MACHINE-GENERATED content is called out here -->
                    <ng-container *ngIf="perspective.body[i].machine_text !== null">
                        <div class="txt_m_container">
                            <div id="circle1"></div>
                            <span class="comp_m_output">
                                <span class="comp_m_title" *ngIf="perspective.body[i].seed?.length">
                                    &#123; {{ perspective.body[i].seed}} &#125;
                                </span>
                                <span class="comp_m_text" *ngIf="perspective.body[i].output?.length">
                                    &#123; ... &quot;{{ perspective.body[i].output }}&quot; ... &#125;
                                </span>
                            </span>
                            <span class="comp_m_output ghost">
                                <div class="comp_m_title" *ngIf="perspective.body[i].seed?.length">
                                    {{ perspective.body[i].seed}}
                                </div>
                                <div class="comp_m_text" *ngIf="perspective.body[i].output?.length">
                                    {{ perspective.body[i].output }}
                                </div>
                            </span>
                        </div>
                    </ng-container>
                    <!-- text -->
                    <div class="comp_textblock_paragraph">
                        <markdown class="" *ngIf="perspective.body[i].paragraph?.length">
                            {{ perspective.body[i].paragraph }}
                        </markdown> 
                    </div>
                </div>
            </div>



            <!-- COMPONENT > "paragraph-with-remark" ---------------------------------------------------- -->
            <!-- <div *ngIf=" perspective.body[i].__component === 'text-types.paragraph-with-remark'" 
            class="section-grid side_comment_container">

                <div class="comp_textblock_remark">
                    <div class="plain_text">
                        <markdown  *ngIf="perspective.body[i].paragraph?.length">
                            {{ perspective.body[i].paragraph }}
                        </markdown> 
                    </div>
                    <div class="side_comments">
                        <div class="side_comment">
                            <div class="add_position remark_container">
                                <div *ngIf="perspective.body[i].remark_title?.length" class="comp_remark c_r_title">
                                    {{ perspective.body[i].remark_title}}
                                </div>
                                <div *ngIf="perspective.body[i].remark_text?.length" class="comp_remark c_r_text">
                                    {{ perspective.body[i].remark_text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->



            <!-- COMPONENT > "paragraph-with-relation" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'text-types.paragraph-with-relation'" 
            class="section-grid side_comment_container">

                <div class="comp_textblock_relation">
                    <!-- text -->
                    <div class="plain_text CMS_style">
                        <markdown class="plain_text" *ngIf="perspective.body[i].paragraph?.length">
                            {{ perspective.body[i].paragraph }}
                        </markdown> 
                    </div>

                    <!-- side comment -->   
                    <div class="side_comments">
                        <!-- PROJECT RELATION is called out here (Type Array)-->

                        <!-- for each COMPONENT OF BODY ---------------------------------------------------- -->
                        <ng-container *ngFor="let relation_to of perspective.body[i].relation_to, let r = index" >

                            <div class="side_comment">
                                <div class="side_comment_padding relation_container">
                                    <div class="comp_relation">

                                        <!-- if PROJECT -->
                                        <div *ngIf="perspective.body[i].relation_to[r].projekt != null" >
                                            <a [routerLink]="['/units/project/' + perspective.body[i].relation_to[r].projekt.id ]">
                                                <!-- relation: title artist -->
                                                <div *ngIf="perspective.body[i].relation_to[r].projekt.title?.length" 
                                                class="relation_title">
                                                    {{ perspective.body[i].relation_to[r].projekt.title}}
                                                    <br>
                                                    {{ perspective.body[i].relation_to[r].projekt.artist}}
                                                </div>
                                                <div class="relation_arrow">&#10230;</div>

                                                <!-- relation: title -->
                                                <div *ngIf="perspective.body[i].relation_to[r].title?.length" class="relation_artistname">
                                                    {{ perspective.body[i].relation_to[r].title }}
                                                </div>
                                                <!-- relation: description -->
                                                <div *ngIf="perspective.body[i].relation_to[r].description?.length" class="relation_artistname">
                                                    {{ perspective.body[i].relation_to[r].description }}
                                                    <div class="relation_arrow">&#10230;</div>
                                                </div>
                                                <!-- relation: image -->
                                                <div *ngIf="perspective.body[i].relation_to[r].projekt.preview_image != null" >
                                                    <img class="relation_img" src="{{perspective.body[i].relation_to[r].projekt.preview_image.url}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <!-- if PERSPECTIVE -->
                                        <div *ngIf=" perspective.body[i].relation_to[r].perspektive != null" >
                                            <a [routerLink]="['/units/perspective/' + perspective.body[i].relation_to[r].perspektive.id ]">
                                                <!-- relation: title artist -->
                                                <div *ngIf="perspective.body[i].relation_to[r].perspektive.title?.length" 
                                                class="relation_title">
                                                    {{ perspective.body[i].relation_to[r].perspektive.title}}
                                                    <br>
                                                    {{ perspective.body[i].relation_to[r].perspektive.author}}
                                                </div>
                                                <div class="relation_arrow">&#10230;</div>

                                                <!-- relation: title -->
                                                <div *ngIf="perspective.body[i].relation_to[r].title?.length" class="relation_artistname">
                                                    {{ perspective.body[i].relation_to[r].title }}
                                                </div>
                                                <!-- relation: description -->
                                                <div *ngIf="perspective.body[i].relation_to[r].description?.length" class="relation_artistname">
                                                    {{ perspective.body[i].relation_to[r].description }}
                                                    <div class="relation_arrow">&#10230;</div>
                                                </div>
                                                <!-- relation: image -->
                                                <div *ngIf="perspective.body[i].relation_to[r].perspektive.preview_image != null" >
                                                    <img class="relation_img" src="{{perspective.body[i].relation_to[r].perspektive.preview_image.url}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <!-- if PODCAST -->
                                        <div *ngIf=" perspective.body[i].relation_to[r].podcast != null" >
                                            <a [routerLink]="['/units/podcast/' + perspective.body[i].relation_to[r].podcast.id ]">
                                                <!-- relation: title artist -->
                                                <div *ngIf="perspective.body[i].relation_to[r].podcast.title?.length" 
                                                class="relation_title">
                                                    {{ perspective.body[i].relation_to[r].podcast.title}}
                                                    <br>
                                                    {{ perspective.body[i].relation_to[r].podcast.speakers}}
                                                </div>
                                                <div class="relation_arrow">&#10230;</div>

                                                <!-- relation: title -->
                                                <div *ngIf="perspective.body[i].relation_to[r].title?.length" class="relation_artistname">
                                                    {{ perspective.body[i].relation_to[r].title }}
                                                </div>
                                                <!-- relation: description -->
                                                <div *ngIf="perspective.body[i].relation_to[r].description?.length" class="relation_artistname">
                                                    {{ perspective.body[i].relation_to[r].description }}
                                                </div>
                                                <!-- relation: image -->
                                                <div *ngIf="perspective.body[i].relation_to[r].podcast.episode_cover != null">
                                                    <img class="relation_img" src="{{perspective.body[i].relation_to[r].podcast.episode_cover.url}}" alt="">
                                                </div>                                               
                                            </a>
                                        </div>
                                        <!-- if No PODCAST No PERSPEKTIVE No PROJEKT -->
                                        <!-- ONLY title and description -->
                                        <div *ngIf="    perspective.body[i].relation_to[r].projekt === null 
                                                        && 
                                                        perspective.body[i].relation_to[r].perspektive === null 
                                                        && 
                                                        perspective.body[i].relation_to[r].podcast === null" >
                                            <!-- relation: title -->
                                            <div *ngIf="perspective.body[i].relation_to[r].title?.length" class="relation_artistname">
                                                {{ perspective.body[i].relation_to[r].title }}
                                            </div>
                                            <!-- relation: description -->
                                            <div *ngIf="perspective.body[i].relation_to[r].description?.length" class="relation_artistname">
                                                {{ perspective.body[i].relation_to[r].description }}
                                            </div>
                                        </div>


                                        <!-- <img class="relation_project_img" src="{{apiUrl}}{{perspective.body[i].relation_to.project.cover_media}}">  -->



                                    </div>
                                </div>
                            </div>
                            
                        </ng-container>
                    </div>
                </div>

            </div>



            <!-- COMPONENT > "paragraph-with-image" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'text-types.paragraph-with-image'" 
            class="section-grid">
                <div class="comp_textblock_machine comp_textblock_image">
                    <!-- call out image -->
                    <img *ngIf="perspective.body[i].image !== null" class="txt_m_container indented_image" src="{{perspective.body[i].image.url}}"> 
                    <!-- call out text -->
                    <div *ngIf="perspective.body[i].paragraph?.length" class="comp_textblock_paragraph">
                        <markdown class="">
                            {{ perspective.body[i].paragraph }}
                        </markdown> 
                    </div>
                </div>

            </div>



            <!-- COMPONENT > "image-type: fullscreen image" ---------------------------------------------------- -->
            <figure *ngIf=" perspective.body[i].__component === 'image-types.fullscreen-image'">
                <img class="img" id="fullscreen" src="{{perspective.body[i].image.url}}"> 
                    <figcaption class="img_caption">{{ perspective.body[i].image.caption }}</figcaption>
            </figure>
            

            <!-- COMPONENT > "image-type: single image" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'image-types.single-image'" 
            class="img-section-grid">

                <figure class="default" *ngIf="perspective.body[i].style !== null "
                [ngClass]="{

                    'align_left'      : perspective.body[i].style.position === 'left',
                    'align_center'    : perspective.body[i].style.position === 'center',
                    'align_right'     : perspective.body[i].style.position === 'right',
                    
                    'padding_off'     : perspective.body[i].style.padding === false,
                    'padding_on'      : perspective.body[i].style.padding === true}">

                    <!-- IMAGE / TEXT WIDTH IS DECLARED HERE -->
                    <img class="img" id="single" src="{{perspective.body[i].image.url }}"
                    [ngClass]="{
                        'width_small'     : perspective.body[i].style.width === 'small',
                        'width_medium'    : perspective.body[i].style.width === 'medium',
                        'width_large'     : perspective.body[i].style.width === 'large' }"> 

                    <figcaption class="img_caption">{{ perspective.body[i].image.caption }}</figcaption>
                </figure>
            </div>



            <!-- COMPONENT > "image-type: couple image" ---------------------------------------------------- -->
            <div *ngIf=" perspective.body[i].__component === 'image-types.couple-images'" class="img-section-grid">

                <figure class="img_container" id="c-left">
                    <img src="{{perspective.body[i].image_left.url }}" class="img" id="left">
                    <figcaption class="img_caption">{{ perspective.body[i].image_left.caption }}</figcaption>
                </figure>

                <figure class="img_container" id="c-right">
                    <img src="{{perspective.body[i].image_right.url }}" class="img" id="right">
                    <figcaption class="img_caption">{{ perspective.body[i].image_right.caption }}</figcaption>
                </figure>
                
            </div>


                <!-- IMAGE / TEXT CONTAINER IS GIVEN A POSITIONAL CLASS HERE -->
                <!-- <div [ngClass]=" {  'e_pos-left'  : perspective.body[i].style.position === 'left',
                                    'e_pos-center' : perspective.body[i].style.position === 'center',
                                    'e_pos-right'  : perspective.body[i].style.position === 'right'   } "
                     class="e-container" 
                     [ngStyle]="{'float': perspective.body[i].style.position }">        
                    
                    <img       src="{{ apiUrl}}{{perspective.body[i].image.url }}"
                         [ngClass]=" { 'e_single-small'  : perspective.body[i].style.width === 'small',
                                       'e_single-medium' : perspective.body[i].style.width === 'medium',
                                       'e_single-large'  : perspective.body[i].style.width === 'large'   } "> 

                    <h3 class="image_caption">
                        {{ perspective.body[i].image.caption }}
                    </h3>

                </div>

            </div> -->


            <!-- COMPONENT > "white-space" ---------------------------------------------------- -->
            <div *ngIf="perspective.body[i].__component === 'text-types.white-space'" 
            [ngStyle]="{'width': '100%', 'height': perspective.body[i].distance_in_pixel + 'px' }">
            </div>

            


        </ng-container>
    </body>
</div>

<router-outlet></router-outlet>