<div class="project-page">

   
    <header class="project-header">
        <p class="project-title">{{perspective.title}}</p>
        <p class="project-artist">{{perspective.author}}</p>
    </header>

    <div class="project-body-container">

        <p class="project-intro">{{perspective.body[0].intro}}</p>
        <p class="project-subhead">{{perspective.body[0].textblock.subhead}}</p>
        <p class="project-description">{{perspective.body[0].textblock.textblock}}</p>

        <p class="machine-generated">
            {{perspective.body[1].title}}
            {{perspective.body[1].text}}
        </p>

        <p class="project-description">
            {{perspective.body[2].subhead}}
            {{perspective.body[2].textblock}}
        </p>

        <br><br>
        <div class="project-related">
            <div class="related-label">Related projects ></div>
            <a [routerLink]="['/units/' + perspective.projects[0].unit_type, perspective.projects[0].id]">
                <div class="related-title">{{perspective.projects[0].title}}</div>
                <div class="related-author">{{perspective.projects[0].artist}}</div>
            </a>
        </div>

    </div>

</div>




<router-outlet></router-outlet>