// .mat-slider-wrapper{
//   opacity: 10%;

// }
// .mat-slider-track-wrapper {
//  background-color: blue;
// }
// .mat-slider-ticks-container{
//   background-color: blue;
// }
// .mat-slider-thumb-container{
//   background-color: blue;
// }


// manipulated style from ANGULAR MATERIAL

:host ::ng-deep .mat-slider-thumb{
  right: 0px;
  bottom: 0px;
  box-sizing: none;
  width: 5px;
  height: 25px;
  border: none;
  border-radius: 0;
  background-color: black;
}

:host ::ng-deep .mat-slider-track-fill{
  // background-color: black;
  visibility: hidden;
}
:host ::ng-deep .mat-slider-track-background{
  visibility: hidden;
}

// custom style 

.player-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    /* padding: 0; */
    z-index: 999;
    color: black;
    font-family: var(--font-family-primary);
}
.player-container > * {
    position: relative;
    //   height: auto;
    width: 100%;
    background: white;
}
.podcast_track_list {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: grid;
    border-top: black 1px solid;
    // visibility: collapse;
    //transition: all 0.5s ease-in-out;
    animation: 0.5s ease-out 0s 1 slideUp;
    //animation: 0.5s ease-in 0s 1 slideDown;
    
}
// .player:hover + .podcast_track_list {
//   visibility:visible;
// }

.podcast_track_list::-webkit-scrollbar {
    display: none;
}

.player-controls {
    border-top: black 1px solid;
    display: grid;
    grid-template-columns: 50px 70px 100px auto 200px;
    grid-template-rows: 33px;
}
.player-controls>* {
    margin-left: 10px;
    margin-top: 5px;

}
.player-controls:hover>* {
    /* color: gray; */
    opacity: 0.5;
}

#podcast_play_pause_icon>img{
    position: absolute;
    left:0;
}

.podcast_date {
    float: right;
}

#all_of_timeline {
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    height: 30px;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

#all_of_timeline>* {
    margin: 3px;
    height: 20px;
}

#playhead {
    width: 3px;
    background: black;
}

#duration {
    padding-left: 5px;
    margin-bottom: 5px;
}

.current_podcast_click_area {
    display: grid;
    grid-template-columns: 50px 50px 70px 100px auto 200px;
    grid-template-rows: auto;
}

.current_podcast_player_controls>* {
    padding-right: 30px;
    padding-left: 20px;
}

.current_podcast_date {
    float: right;
}



.play {
    /* color: black; */
    opacity: 1;
}
.pause {
    /* color: gray; */
    opacity: 0.5;
}
audio {
    display: none;
}
.player_timeline_info {
    /* color: black; */
    font-size: 16px;
}
.play_pause_symbol {
    height: 20px;
    width: auto;
}

@keyframes slideUpDown {
  100% { transform: translateY(0%); }
}
@keyframes slideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}
@keyframes slideDown {
  100% { transform: translateY(100%); }
  0% { transform: translateY(0%); }
} 

.podcast_list_collapsed {
  /* transition: all 0.5s ease-in-out; */
  /* animation: 0.5s ease-in 1s 1 slideup; */
  visibility: visible;
  height: 0px;
}
.podcast_list_expanded {
  /* transition: all 0.5s ease-in-out; */
  animation: 0.5s ease-out 0s 1 slideUp;
  border-top: black 1px solid;
  visibility: visible;
  height: 150px;
}


/* ---------------- audio volume control ---------------- */

#volume {
    height: 20px;
    width: 30px;
    display: grid;
    grid-template-columns: 6px 6px 6px 6px 6px;
    background: white;
}

.volume_step {
    width: 5px;
    background-color: black;
    align-self: end;
}
#volume_step_0 {height: 40%;}
#volume_step_1 {height: 50%;}
#volume_step_2 {height: 60%;}
#volume_step_3 {height: 70%;}
#volume_step_4 {height: 80%;}
#volume_step_0:hover {height: 60%; background-color: gray;}
#volume_step_1:hover {height: 70%; background-color: gray;}
#volume_step_2:hover {height: 80%; background-color: gray;}
#volume_step_3:hover {height: 90%; background-color: gray;}
#volume_step_4:hover {height: 100%; background-color: gray;}


@media (max-width: 768px) {
    
    .player-controls {
        grid-template-columns: 50px 70px 100px auto 200px;
        grid-template-rows: 60px;
    }

    /* mobile version edit */
    .track_name_author {
        display: inherit;
    }

    .podcast_date {
        display: inherit;
    }

    .track_number {
        display: inherit;
    }

    .podcast_track_list {
        // height: 150px;
        // font-size: 22px;
    }

    #current_podcast {
        height: 40px;
        font-size: 22px;
    }

    #current_podcast_track_name {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap; 
    }

    .track_name_title span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

@media (min-width: 414px) {
    .podcast_track_list {
        height: 320px;
        padding-top: 0px;
    }

    .podcast-header {
        display: none;
    }
}

@media (max-width: 414px) {
    .player-controls {
        border-top: black 1px solid;
        display: grid;
        grid-template-columns: 40px 50px 300px;
        // line-height: 50px;
    }

    .podcast-header {
        display: inherit;
        position: -webkit-sticky;
        position: sticky;
        height: 125px;
        top: 0px;
        background-color: black;
    }

    .podcast_track_list {
        height: calc(var(--vh, 1vh) * 100);
        // min-height: -webkit-fill-available;
    }

    // html {
    //     height: -webkit-fill-available;
    // }
    
    /* mobile version edit */
    .track_name_author {
        display: none;
    }

    .podcast_date {
        display: none;
    }

    .track_number {
        display: inherit;
    }

    #current_podcast {
        height: 40px;
    }

    #current_podcast_track_name {
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap; 
    }

    #current_podcast_track_name_number {
        font-size: 20px;
    }
    
    .player-container {
        font-size: 18px;
    }

}

@media (max-width: 375px) {
    .player-controls {
        grid-template-columns: 40px 50px 250px;
    }
}

@media (max-width: 320px) {
    .player-controls {
        grid-template-columns: 40px 50px 200px;
        line-height: 30px;
    }

    .podcast_track_list {
        font-size: 18px;
    }

    #current_podcast_track_name {
        font-size: 18px;
    }

    #current_podcast_track_name_number {
        font-size: 18px;
    }

}


// @media (max-width: 1024px) {
//     .player-controls { grid-template-columns: 50px 70px 100px auto 200px; }
// }
// @media (max-width: 850px) {
//     .player-controls { grid-template-columns: 30px 50px auto; }
//     .player-controls > span:nth-child(3) { display: none; }
//     .player-controls > span:nth-child(5) { display: none; }
// }
// @media (max-width: 600px) {
//     .player-controls { grid-template-columns: 30px 50px auto ; }
//     .player-controls > span:nth-child(3) { display: none; }
//     .player-controls > span:nth-child(5) { display: none; }

//     .track_name_title{
//         white-space: nowrap;
//         overflow: hidden;
//         position: relative;
//     }
//     .track_name_title > p{
//         display: block;
//         position: absolute;
//         overflow: hidden;
//         width: auto;
//         animation: marquee 10s linear infinite;
//         animation-direction: alternate;
//     }
//     /* .track_name_title > span {
//         float: left;
//         width: 50%;
//     } */
//     @keyframes marquee {
//         /* 0% { 
//             padding-right: -10px; 
//             padding-left: 10px; 
//         }
//         100% { 
//             padding-right: 10px; 
//             padding-left: -10px; 
//         } */
//         0% { transform: translateX(5%); }
//     100% { transform: translateX(-30%); }
//     }

// @media (max-height: 815px) {
//     .podcast_list_expanded { 
//         height: 80vh;
//         }
//     }