// .mat-slider-wrapper{
//   opacity: 10%;

// }
// .mat-slider-track-wrapper {
//  background-color: blue;
// }
// .mat-slider-ticks-container{
//   background-color: blue;
// }
// .mat-slider-thumb-container{
//   background-color: blue;
// }


// manipulated style from ANGULAR MATERIAL

p {
    font-family: var(--font-family-primary);
    font-weight: 400;
}

:host ::ng-deep .mat-slider-thumb{
  right: 0px;
  bottom: 0px;
  box-sizing: none;
  width: 5px;
  height: 25px;
  border: none;
  border-radius: 0;
  background-color: black;
}

:host ::ng-deep .mat-slider-track-fill{
  // background-color: black;
  visibility: hidden;
}
:host ::ng-deep .mat-slider-track-background{
  visibility: hidden;
}

/* ---------------- TOGGLE BUTTON PROPERTIES ---------------- */


label#toggle-btn {
    background-color: black;
    z-index: 9997;
    display: block;
    margin: 0px;
    height: 20px;
    position: relative;
    padding: 0px 15px 0px 15px;
}

#btn-txt {
    color: white;
    right: 15px;
    bottom: 0px;
    font-size: 15px;
    position: absolute;
}

span#btn-logo {
    font-weight: var(--font-weight-primary);
    font-size: 20px;
    left: var(--margin);
    color: white;
    top: 18px;
    position: absolute;
    display: none;
}

#idcheckbox {
    display: none;
    margin: 0px;
}

// #close_list {
//     border-top: 1px solid white;
//     background-color: black;
//     color: white;
//     position: absolute;
//     top: 50px;
// }

#podcast-header {
    z-index: 9998;
    position: -webkit-sticky;
    position: sticky;
    height: 70px;
    border: 1px solid black;
    top: 0px;
    background-color: black;
    opacity: 0;
}


/* ---------------- show_hide_button ---------------- */

// custom style 

.player-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    /* padding: 0; */
    z-index: 9998;
    color: black;
    font-family: var(--font-family-primary);
}
.player-container > * {
    position: relative;
    //   height: auto;
    width: 100%;
    background: white;
}
.podcast_track_list {
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: grid;
    border-top: black 1px solid;
    // visibility: collapse;
    //transition: all 0.5s ease-in-out;
    animation: 0.5s ease-out 0s 1 slideUp;
    //animation: 0.5s ease-in 0s 1 slideDown;
    position: relative;
}
// .player:hover + .podcast_track_list {
//   visibility:visible;
// }

.podcast_track_list::-webkit-scrollbar {
    display: none;
}

.player-controls {
    border-top: black 1px solid;
    display: grid;
    grid-template-columns: 40px 60px 90px auto 150px;
    grid-template-rows: 35px;
}
.player-controls>* {
    margin-left: 10px;
    margin-top: 5px;

}
.player-controls:hover>* {
    /* color: gray; */
    opacity: 0.5;
}

#podcast_play_pause_icon>img{
    position: absolute;
    left:0;
}

.podcast_date {
    float: right;
}
.podcast_guests{
    text-align: center;
}


#all_of_timeline {
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    height: 30px;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

#all_of_timeline>* {
    margin: 3px;
    height: 20px;
}

#playhead {
    width: 3px;
    background: black;
}

#duration {
    padding-left: 5px;
    margin-bottom: 5px;
}

.current_podcast_click_area {
    display: grid;
    grid-template-columns: 40px 60px 70px 100px auto 200px;
    grid-template-rows: auto;
}

.current_podcast_player_controls>* {
    padding-right: 30px;
    padding-left: 20px;
}

.current_podcast_date {
    float: right;
}



.play {
    /* color: black; */
    opacity: 1;
}
.pause {
    /* color: gray; */
    opacity: 0.5;
}
audio {
    display: none;
}
.player_timeline_info {
    /* color: black; */
    font-size: 16px;
}
.play_pause_symbol {
    height: 20px;
    width: auto;
}

@keyframes slideUpDown {
  100% { transform: translateY(0%); }
}
@keyframes slideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}
@keyframes slideDown {
  100% { transform: translateY(100%); }
  0% { transform: translateY(0%); }
} 

.podcast_list_collapsed {
  /* transition: all 0.5s ease-in-out; */
  /* animation: 0.5s ease-in 1s 1 slideup; */
  visibility: visible;
  height: 0px;
}
.podcast_list_expanded {
  /* transition: all 0.5s ease-in-out; */
  animation: 0.5s ease-out 0s 1 slideUp;
  border-top: black 1px solid;
  visibility: visible;
  height: 150px;
}


/* ---------------- at media ---------------- */

@media (max-width: 768px) {
    
    .player-controls {
        grid-template-columns: 40px 60px auto;
        grid-template-rows: auto;
        min-height: 60px;
    }

    /* mobile version edit */
    .track_name_author {
        display: inherit;
        display: none;
    }

    .podcast_date {
        display: inherit;
        display: none;

    }

    .track_number {
        display: inherit;
    }


    #current_podcast_track_name {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap; 
    }

    .track_name_title span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        padding-right: 20px;
    }
}

@media (min-width: 48em) {
    #current_podcast {
        height: 38px;
        // font-size: 22px;
    }
    
    .podcast_track_list {
        height: 320px;
        padding-top: 0px;
    }

    label#toggle-btn {
        display: none;
    }
}

@media (max-width: 48em) {
    .player-controls {
        border-top: black 1px solid;
        display: grid;
        grid-template-columns: 40px 50px auto;
        height: 80px;
        // line-height: 50px;
    }

    #podcast-header {
        display: inherit;
    }

    .podcast_track_list {
        // height: calc(100vh - 170px);
        height: calc(var(--vh) - 125px);
        // height: -webkit-fill-available;
        // height: calc((var(--vh, 1vh) * 100)-170px);
        
        // source: https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
        // min-height: calc(100vh - 170px); /* Fallback for browsers that do not support Custom Properties */
        // min-height: -webkit-fill-available;
        // height: calc(var(--vh, 1vh) * 100);
        // min-height: -webkit-fill-available;
    }
    
    /* mobile version edit */
    .track_name_author {
        display: none;
    }

    .podcast_date {
        display: none;
    }

    .track_number {
        display: inherit;
    }

    #current_podcast {
        height: 40px;
    }

    #current_podcast_track_name {
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap; 
    }

    #current_podcast_track_name_number {
        font-size: 20px;
    }
    
    .player-container {
        font-size: 18px;
    }

}

@media (max-width: 375px) {
    .player-controls {
        grid-template-columns: 40px 50px auto;
        height: 80px;
    }
    // .podcast_guests{
    //     grid-column: 1 / span 3;
    //     grid-row: 2 / span 1;
    //     text-align: left;
    // }
}

@media (max-width: 320px) {
    .player-controls {
        grid-template-columns: 40px 50px auto;
        // line-height: 30px;
    }
    // .podcast_guests{
    //     grid-column: 2 / span 1;
    //     text-align: right;
    // }

    .podcast_track_list {
        font-size: 16px;
    }

    #current_podcast_track_name {
        font-size: 18px;
    }

    #current_podcast_track_name_number {
        font-size: 18px;
    }

}


// @media (max-width: 1024px) {
//     .player-controls { grid-template-columns: 50px 70px 100px auto 200px; }
// }
// @media (max-width: 850px) {
//     .player-controls { grid-template-columns: 30px 50px auto; }
//     .player-controls > span:nth-child(3) { display: none; }
//     .player-controls > span:nth-child(5) { display: none; }
// }
// @media (max-width: 600px) {
//     .player-controls { grid-template-columns: 30px 50px auto ; }
//     .player-controls > span:nth-child(3) { display: none; }
//     .player-controls > span:nth-child(5) { display: none; }

//     .track_name_title{
//         white-space: nowrap;
//         overflow: hidden;
//         position: relative;
//     }
//     .track_name_title > p{
//         display: block;
//         position: absolute;
//         overflow: hidden;
//         width: auto;
//         animation: marquee 10s linear infinite;
//         animation-direction: alternate;
//     }
//     /* .track_name_title > span {
//         float: left;
//         width: 50%;
//     } */
//     @keyframes marquee {
//         /* 0% { 
//             padding-right: -10px; 
//             padding-left: 10px; 
//         }
//         100% { 
//             padding-right: 10px; 
//             padding-left: -10px; 
//         } */
//         0% { transform: translateX(5%); }
//     100% { transform: translateX(-30%); }
//     }

// @media (max-height: 815px) {
//     .podcast_list_expanded { 
//         height: 80vh;
//         }
//     }