
<header class="logo" id="logo">
    <a id="itemlogo" routerLink="">aussicht.space</a>
</header>

<input class="menu-btn" type="checkbox" id="menu-btn" />

<div class="menu-dropdown-bg" id="menu-dropdown-bg" ></div>

<header class="menu" id="menu">
  <a id="itemunits" routerLink="/{{language}}/units"><li class="items">Unit Hub</li></a>
  <a id="itemprogramme" routerLink="" fragment="programme"><li class="items">Programm</li></a>
  <a id="itemabout" routerLink="" fragment="about" ><li class="items">Über</li></a>
  <a id="itemartists" routerLink="" fragment="artists" ><li class="items">Künstler:innen</li></a>

  <app-language-switch></app-language-switch>

</header>

<!-- ../#programme -->

<div id="header_black_background"></div>
<div id="header_black_background_mobile"></div>

<label class="menu-icon" id="btn" for="menu-btn"><span class="navicon"></span></label>
<label class="overlay"></label>

