
<header class="logo" id="logo">
    <a id="itemlogo" routerLink="/{{language}}">aussicht.space</a>
</header>

<input class="menu-btn" type="checkbox" id="menu-btn" />

<div class="menu-dropdown-bg" id="menu-dropdown-bg" ></div>

<header class="menu" id="menu">
  <a id="itemunits" routerLink="/{{language}}/index"><li class="items">{{index}}</li></a>
  <a id="itemprogramme" routerLink="/{{language}}/programm" ><li class="items">{{program}}</li></a>
  <a id="itemabout" routerLink="/{{language}}/ueber" ><li class="items">{{about}}</li></a>
  <a id="itemartists" routerLink="/{{language}}/teilnehmer_innen" ><li class="items">{{participants}}</li></a>

  <div class="language_button">
    <app-language-switch></app-language-switch>
  </div>

</header>


<div id="header_black_background"></div>
<div id="header_black_background_mobile"></div>

<label class="menu-icon" id="btn" for="menu-btn"><span class="navicon"></span></label>
<label class="overlay"></label>

