
<header class="logo" id="logo">
    <a id="itemlogo" routerLink="">aussicht.space</a>
</header>

<input class="menu-btn" type="checkbox" id="menu-btn" />

<div class="menu-dropdown-bg" id="menu-dropdown-bg" ></div>

<header class="menu" id="menu">
  <a id="itemunits" routerLink="/index"><li class="items">Index</li></a>
  <a id="itemprogramme" routerLink="" fragment="programm"><li class="items">Programm</li></a>
  <a id="itemabout" routerLink="" fragment="über" ><li class="items">Über</li></a>
  <a id="itemartists" routerLink="" fragment="teilnehmer_innen" ><li class="items">Teilnehmer:innen</li></a>
</header>


<div id="header_black_background"></div>
<div id="header_black_background_mobile"></div>

<label class="menu-icon" id="btn" for="menu-btn"><span class="navicon"></span></label>
<label class="overlay"></label>

