footer {
    padding: 80px var(--margin) 50px var(--margin);
}

img.logos {
    filter: invert(1);
    display: inline-block;
}

#impressum {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 80px 50px 30px 50px;
}

#impressum a {
    text-decoration: none;
    color: white;
}