footer {
    padding: 80px var(--margin) 50px var(--margin);
    position: relative;
}

/* ----------------------- */
/* FOOTER > LOGOS */
.logos-row-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0px 10px 0px 10px;
}

.logos-container {
    position: relative;
}

.logos-container span{
    font-family: var(--font-family-secondary);
    position: absolute;
    top: 0px; 
    overflow: visible;
    white-space: nowrap;
}

img.logos {
    filter: invert(1);
    display: absolute;
    padding: var(--padding-footer-logos);
}

/* ----------------------- */
/* FOOTER > IMPRESSUM */

#impressum {
    font-family: var(--font-family-primary);
    font-weight: 500;
    line-height: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#impressum a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}
