footer {
    padding: 80px var(--margin) 50px var(--margin);
    position: relative;
}

img.logos {
    filter: invert(1);
    display: inline-block;
}

#impressum {
    font-family: var(--font-family-primary);
    font-weight: 500;
    line-height: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#impressum a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}