<footer class="lp-footer">
    <div class="mak_container">
            <span id="mak_title">Ein Museum der Stadt Frankfurt am Main<i id="mak_title_eng">A museum of the city of Frankfurt/Main</i></span>
            <img class="logos" id="mak" src="/assets/logos/3_mak.png" alt="mak">
    </div>
    
    <div class="logos-row-container">
        <div class="logos-container">
            <span id="gefoerdert" >Gefördert durch:</span>
            <img class="logos" id="marschnerstiftung" src="/assets/logos/1_marschnerstiftung.png" alt="HfG of_Main">
        </div>
        <div class="logos-container">
            <span id="gefoerdert" >Unterstützt von:</span>
            <img class="logos" id="hmwk" src="/assets/logos/2_hmwk.png" alt="HMWK">
        </div>
        <div class="logos-container">
            <span id="zusammenarbeit" >In Zusammenarbeit mit:</span>
            <img class="logos" id="hfg" src="/assets/logos/4_hfg.png" alt="Museumsufer">
        </div>
        <div class="logos-container">
            <span id="medienpartner" >Medienpartner:</span>
            <img class="logos" id="form" src="/assets/logos/5_form.png" alt="Flemings">
        </div>
        <div class="logos-container">
            <img class="logos" id="journal" src="/assets/logos/6_journal.png" alt="journal">
        </div>
        <div class="logos-container">
            <span id="hotelpartner" >Hotelpartner:</span>
            <img class="logos" id="flemmings" src="/assets/logos/7_flemings.png" alt="flemmings">
        </div>
        <div class="logos-container">
            <img class="logos" id="mu" src="/assets/logos/8_mu.png" alt="Marschnerstiftung">
        </div>
    </div>

    <!-- <div class="logos-row-container">
        <div class="logos-container">
            <span id="medienpartner" >Medienpartner:</span>
            <img class="logos" id="form" src="/assets/logos/5_form.png" alt="Flemings">
        </div>
        <div class="logos-container">
            <img class="logos" id="journal" src="/assets/logos/6_journal.png" alt="HMWK">
        </div>
        <div class="logos-container">
            <span id="hotelpartner" >Hotelpartner:</span>
            <img class="logos" id="flemmings" src="/assets/logos/7_flemings.png" alt="Journal">
        </div>
        <div class="logos-container">
            <img class="logos" id="mu" src="/assets/logos/8_mu.png" alt="Marschnerstiftung">
        </div>
    </div> -->

    
    <div id="impressum">
        <a [routerLink]="['/impressum']" >Impressum und Datenschutz</a>
        <!-- <a (click)="goToPage('impressum')" id="no_link">Impressum und Datenschutz</a> -->
        <div class="popup-impressum"></div>
        <a href="https://www.museumangewandtekunst.de/" id="mak_link" target="_blank">Museum Angewandte Kunst</a>
        <a href="https://www.hfg-offenbach.de/" id="hfg_link" target="_blank">Hochschule für Gestaltung Offenbach</a>
    </div>

</footer>