<div class="podcast-page">

    <!-- BACK TO UNIT HUB ---------------------------------------------- -->
    <button class="btn-back2hub">
        <img [routerLink]="['/units/']" class="btn-icon" id="arrow-left" src="/assets/logos/2070_arrow_left.png" alt="btn-back2hub">
        <a [routerLink]="['/units/']" class="btn-txt">Hub</a>
    </button>


    <header *ngIf="podcast" class="podcast_header">
        <img class="offline_podcast_logo" src="{{podcast.offline_episode_logo.url}}">
        <h3 class="pod_title" *ngIf="podcast.title?.length">{{ podcast.title }}</h3>
        <h3 class="pod_speakers" *ngIf="podcast.speakers?.length">{{ podcast.speakers }}</h3>
        <div class="pod_intro" *ngIf="podcast.intro?.length">
            {{ podcast.intro }}
        </div>
        <div class="podcast-theme-container">
            <div *ngFor="let t of podcast.themes" class="themes">{{t.theme_name}}</div>
        </div>
    </header>

   <body class="main">
       
    <!-- FIELD > EPISODE COVER & PLAY BUTTON ---------------------------------------------------- -->
        <div class="podcast_cover_container" *ngIf="podcast?.episode_cover.url?.length">

            <div class="podcast_cover_wrapper" (click)="togglePlayPause()">
                <div class="marquee-container">   
                    <div *ngIf="play" class="txt-container" id="mydivon">
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                        #play
                        <br>
                    </div>     
                    <div *ngIf="pause" class="txt-container" id="mydivoff">
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                        #pause
                        <br>
                    </div>   
                    <!-- <button class="pod_page_play_icon">
                        <img class="play" src="/assets/logos/2070_button_volume_play.png" alt="play-podcast">
                        <img class="pause" src="/assets/logos/2070_button_volume_pause.png" alt="play-podcast">
                    </button> -->
                </div>
                <img class="pod_episode_cover" src="{{podcast.episode_cover.url}}">
            </div>
        </div>

    <!-- FIELD > DESCRIPTION ---------------------------------------------------- -->
    <div class="podcast_episode_description" *ngIf="podcast?.description?.length">
        {{ podcast.description }}
    </div>

    <!-- FIELD > MODERATOR ---------------------------------------------------- -->
    <div class="podcast_moderator" *ngIf="podcast?.moderator?.length">
        Moderation: {{ podcast.moderator }}
    </div>

   </body> 

</div>