
.podcast-page {
    padding: 90px var(--margin) 100px var(--margin);
    margin: 0px;
    background-color: var(--color-page-background-primary);
    color: var(--color-white);
}

.podcast-header { height: 100vh; }


// BACK TO UNIT HUB
    .btn-back2hub {
        z-index: 9999;
        font-family: '2070';
        font-weight: 400;
        font-size: 30px;
        position: fixed;
        display: flex;
        left: var(--margin-s);
        float: left;
        top: 30px;
        color: white;
    }
    
    .btn-back2hub a {
        color: white;
        text-decoration: none;
        padding: 0px 0px 0px 30px;
    }
    
    .btn-icon {
        height: 0.8em;
        position: absolute;
        top: 20%;
        filter: invert(1);
    }

.offline_podcast_logo {
    width: 500px;
    padding: 0px 0px 30px 0px;
}

.pod_title {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: var(--font-size-title);
    margin: 0px;
    line-height: 0.9;
    padding: 0px 0px 20px 0px;
    width: 60%;
}

.pod_speakers {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-primary);
    padding: 0px 0px 25px 0px;
}

.pod_intro {
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: var(--font-size-primary-s);
    line-height: 1;
    width: 70%;
}

.podcast-theme-container { padding: 46px 0px 50px 0px; }

    .themes {
        display: inline-block;
        color: white;
        border: 1px solid white;
        margin: 0px 10px 10px 0px;
        padding: 5px 15px 5px 15px;
        font-family: var(--font-family-secondary);
        font-size: 15px;
        width: auto;
    }

// ---------- SET BODY ATTRIBUTES --------- //
.podcast_cover_container {
    height: 100vh;
    width: calc(100vw - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 50px 0px;
    background-color: var(--color-page-background-primary);
}

    .podcast_cover_wrapper {
        display: inline-flex;
        // position: relative;
        // width: 500px;
        // height: 400px; 
    }

        .marquee-container {
            width: 200px;
            height: 400px;
            position: relative;
            overflow: hidden;
        }

            .txt-container {
                color: white;
                font-family: var(--font-family-primary);
                font-size: 50px;
                line-height: 1.5;
                animation: 15s linear infinite upwards;
                display: block;
                text-align: right;
                padding-right: 20px;
            }

            @keyframes upwards {
                from {
                  transform: translate(0, 0%);
                }
                to {
                  transform: translate(0px, calc(-50%));
                }
              }

        .pod_episode_cover {
            width: 400px;
            height: 400px;
            right: 0px;
            mix-blend-mode: screen; // see through effect
            // mix-blend-mode: difference;
        }

        // .ghost {
        //     position: relative;
        //     visibility: hidden;
        // }

        .pod_page_play_icon {
            filter: invert(1);
            position: absolute;
            top: 40%;
            left: 10px;
        }

        .play {
            width: 70px;
        }

.podcast_episode_description {
    font-family: var(--font-family-secondary);
    font-size: 25px;
    width: 70%;
}

.podcast_moderator {
    font-family: var(--font-family-primary);
    font-weight: 400;
    padding: 20px 0px 0px 0px;
}