<body *ngIf="route.children.length === 0" id="unit-hub">

    <div class="filter-container">
        <!-- first associate DISCRETE VALUES with EACH CHECKBOX to TOGGLE ON/OFF STATE  -->
        <div *ngFor="let t of themesFromCms, let i = index" class="allthemes">

            <!-- || = "or" operation  -->
            <div *ngIf="t.perspective || t.podcast || t.project" id="themes_collection">

                <!-- when CHECKED, compare CHECKED VALUES against the PROPERTIES found within the ARRAY OF OBJECTS -->
                <div class="checkbox" > 
                    <input type="checkbox" 
                        name="toggle-themes" 
                        [id]="t.id" 
                        [(ngModel)]="t.selected" 
                        [value]="t.theme_name" 
                        (change)="getSelected()">
                </div>
                
                <label
                    [for]="t.id"
                    id="unit-theme-selected-{{t.id}}"
                    [class.visited]="t.selected"
                    class="themes">
                    {{t.theme_name}}
                </label>
            </div>
        </div>
    
    <!-- [class.visited]="isVisited == true" (click) = "checkVisited()" -->
    <!-- using ngFor to call a checked method that returns the checked filtered items -->
    <pre>Selected themes: <span *ngFor="let t of themesSelected" style="padding-right:10px;">{{ t.theme_name }}</span></pre>
        
    </div>

    <div *ngIf="units" class="">

        <!-- FILTER UNITS ACCORDING TO SELECTED THEMES -->
        <div *ngFor="let u of units" class="unit">
            <div class="unit-item">
                <!-- <div class="unit-title"></div> -->
                <div class="unit-name">{{u.artist}} {{u.author}}</div>
                <a [routerLink]="['/units/' + u.unit_type, u.id]" class="unit-title">{{u.title}}</a>
                <div class="unit-type">[ {{u.unit_type}} ]</div>
                
                <div class="unit-theme-container">
                    <div *ngFor="let ut of u.themes">
                        <div 
                            [class.visited]="ut.selected"
                            class="themes">
                            {{ut.theme_name}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
    </div>

</body>

<router-outlet></router-outlet>