<!-- HEADER/NAVIGATION -->
<!-- <router-outlet></router-outlet> -->

<!-- <ng-container id="" *ngIf="route.children.length === 0"> -->


<ng-container id="">

    <app-header></app-header>

    <body id="unit-hub">

        <!-- <div class="se-pre-con" id="loader"></div> -->

        <input type="checkbox" class="toggle-filter-mobile" id="showThemes">
        <label for="showThemes" class="themes filter-btn">Filter</label> 

        <div class="filter-container">

            <span class="showThemes" class="themes ghost" id="filter-btn-mobile">Filter</span> 

            <!-- first associate DISCRETE VALUES with EACH CHECKBOX to TOGGLE ON/OFF STATE  -->
            <div *ngFor="let t of themesFromCms, let i = index" class="allthemes">

                <!-- || = "or" operation  -->
                <div *ngIf="t.perspektives?.length || t.podcasts?.length || t.projekts?.length" id="themes_collection">

                    <!-- when CHECKED, compare CHECKED VALUES against the PROPERTIES found within the ARRAY OF OBJECTS -->
                    <div class="checkbox" >
                        <input type="checkbox"
                            name="toggle-themes"
                            [id]="t.id"
                            [(ngModel)]="t.selected"
                            [value]="t.theme_name"
                            (change)="getSelected()">
                    </div>

                    <label
                        [for]="t.id"
                        id="unit-theme-selected-{{t.id}}"
                        [class.visited]="t.selected"
                        class="themes">
                        {{t.theme_name}}
                    </label>
                </div>
            </div>

            <!-- using ngFor to call a checked method that returns the checked filtered items -->
            <!-- <pre>Selected themes: <span *ngFor="let t of themesSelected" style="padding-right:10px;">{{ t.theme_name }}</span></pre> -->

        </div>

        <div *ngIf="unitAndEncodedHrefList" class="unitflexcolumn">

            <div *ngFor="let column of columns" class="unitflexitem">

                    <!-- FILTER UNITS ACCORDING TO SELECTED THEMES -->
                    <div [ngClass]= " { 'perspectives' : uh.unit.unit_type === 'perspective',
                                        'projects'     : uh.unit.unit_type === 'project',
                                        'podcasts'     : uh.unit.unit_type === 'podcast'   } "
                        *ngFor= "let uh of column"
                        class= "units-container" >

                            <!-- PODCAST UNIT -->
                            <div *ngIf="uh.unit.unit_type === 'podcast'" class="unit-content">

                                <!-- PODCAST UNIT > CONTENT SECTION -->
                                <!-- EPISODE > LOGO -->
                                <div *ngIf="uh.unit.offline_episode_logo !== null">
                                  <img class="offline_podcast_logo" src="{{uh.unit.offline_episode_logo.url}}">
                                </div>

                                <!-- EPISODE > TITLE -->
                                <div *ngIf="uh.unit.title?.length" class="unit-title" id="podcast-title">
                                    <a [routerLink]="[('/index/' + uh.unit.unit_type), uh.titleEncoded]">{{uh.unit.title}}</a>
                                </div>

                                <!-- EPISODE > GUEST SPEAKERS -->
                                <div *ngIf="uh.unit.speakers?.length" class="unit-name" id="podcast-speakers" >
                                    <a id="pod-speaker" [routerLink]="[('/index/' + uh.unit.unit_type), uh.titleEncoded]">{{uh.unit.speakers}}</a>
                                </div>

                                <!-- PODCAST UNIT > THEMES SECTION -->
                                <div class="unit-theme-container">
                                    <div *ngFor="let ut of uh.unit.themes"
                                        [class.visited]="ut.selected"
                                        class="unit-themes" id="podcast-themes">
                                        {{ut.theme_name}}
                                    </div>
                                </div>

                            </div>

                            <!-- PERSPECTIVE UNIT -->
                            <div *ngIf="uh.unit.unit_type === 'perspective'" class="unit-content">

                                <!-- PERSPECTIVE UNIT > CONTENT SECTION -->
                                <!-- ARTICLE > TITLE -->
                                <div class="unit-title" id="perspective-title">
                                    <a [routerLink]="['/index/' + uh.unit.unit_type, uh.titleEncoded]">{{uh.unit.title}}</a>
                                </div>

                                <!-- ARTICLE > AUTHOR -->
                                <div class="unit-name" id="perspective-author" >
                                    <a [routerLink]="['/index/' + uh.unit.unit_type, uh.titleEncoded]">{{uh.unit.author}}</a>
                                </div>

                                <!-- PERSPECTIVE UNIT > THEMES SECTION -->
                                <div class="unit-theme-container">
                                    <div *ngFor="let ut of uh.unit.themes"
                                        [class.visited]="ut.selected"
                                            class="unit-themes" id="perspective-themes">
                                        {{ut.theme_name}}
                                    </div>
                                </div>

                            </div>

                            <!-- PROJECT UNIT -->
                            <div *ngIf="uh.unit.unit_type === 'project'" class="unit-content" >

                                <!-- PROJECT UNIT > CONTENT SECTION -->
                                <!-- PROJECT > THUMBNAIL IMAGE -->
                              <div *ngIf="uh.unit.preview_image">
                                <img id="project-thumb-img" src="{{uh.unit.preview_image.url}}" style="width: 100%;">
                              </div>

                                <!-- PROJECT > TITLE -->
                                <div class="unit-title" id="project-title">
                                    <a [routerLink]="['/index/' + uh.unit.unit_type, uh.titleEncoded]">{{uh.unit.title}}</a>
                                </div>

                                <!-- PROJECT > ARTIST -->
                                <div class="unit-name" id="project-artist" >
                                    <a [routerLink]="['/index/' + uh.unit.unit_type, uh.titleEncoded]">{{uh.unit.name}}</a>
                                </div>

                                <!-- PERSPECTIVE UNIT > THEMES SECTION -->
                                <div class="unit-theme-container">
                                    <div *ngFor="let ut of uh.unit.themes"
                                        [class.visited]="ut.selected"
                                            class="unit-themes" id="perspective-themes">
                                        {{ut.theme_name}}
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>


        </div>

    </body>

</ng-container>



