body#unit-hub {
    padding: 75px var(--margin) 200px var(--margin);
    height: auto;
    background-color: white;
    color: black;
}

a {
    color: black;
}


// --- GLOBAL THEMES ATTRIBUTES --- //

.themes {
    color: black;
    border: 1px solid black;
    margin: 0px 10px 10px 0px;
    padding: 5px 15px 5px 15px;
    font-family: var(--font-family-secondary);
    font-size: 15px;
}

.visited {
    background: linear-gradient(156deg, rgba(229,155,168,1) 0%, rgba(201,138,161,1) 34%, rgba(29,34,115,1) 100%);
    color: white !important;
    border: none !important;
}

    // --- HEADER > THEMES PANEL ATTRIBUTES --- //
    .filter-container {
        padding: 10px 0px 10px 0px;
    }

    label.themes:hover {
        color: var(--color-rosa);
        border: 1px solid var(--color-rosa);
        cursor: pointer;
        transition-duration: 0.2s;
    }

    input[type='checkbox'] {
        display: none;
      }

    .allthemes {
        display: inline-block;
    }

.unitflexcolumn {
  margin: 2rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.unitflexitem {
  display: flex;
  flex-direction: column;
}

// --- UNITS CONTAINER --- //
.units-container {
    margin: 1rem;
//    margin-bottom: 3.5rem;
    break-inside: avoid;
    // -- to raise all units to foreground -- //
    // position: relative;
    font-weight: 500;
    font-family: var(--font-family-primary);
    padding: 20px;
    color: black;
}

    .unit-content:hover, .unit-content:hover * a {
        color: var(--color-rosa)!important;
        transition-duration: 0.4s;
    }

    .unit-content:hover * .unit-themes {
        border-color: var(--color-rosa)!important;
        transition-duration: 0.4s;
    }

        .unit-type {
            margin: 10px 0px 50px 0px;
        }

        .unit-title {
            // text-decoration: none;
            font-size: 30px;
            line-height: 1;
        }

        .unit-name {
            font-family: var(--font-family-secondary);
            font-size: 25px;
            font-weight: 400;
            padding: 5px 20px 0px 0px;
            line-height: 1;
        }

    .unit-theme-container {
        position: relative;
        bottom: 0px;
        height: auto;
        padding: 20px 0px 0px 0px;
    }

        .unit-theme-container .unit-themes {
            display: inline-block;
            margin: 5px 10px 5px 0px;
            padding: 5px 15px 5px 15px;
            font-family: var(--font-family-secondary);
            font-size: 15px;
        }



// --- PODCAST ATTRIBUTES --- //
.podcasts {
    background-color: black !important;
    color: white !important;
    height: auto;
}

                                                    // --- ADD HOVER SHADOW EFFECT --- //
                                                    // .podcasts:hover {
                                                    //     transition-duration: 0.4s;
                                                    //     box-shadow: 10px 10px var(--color-indigo);
                                                    // }

    #podcast-title a {
        color: white;
        padding: 20px 20px 0px 0px;
    }

    #podcast-speakers {
        color: white;
    }

    .offline_podcast_logo {
        width: 200px;
        height: auto;
        margin-left: -5px;
        padding: 0px 0px 20px 0px;
    }

    #podcast-themes {
        color: white;
        border: 1px solid white;
    }

// --- PERSPECTIVE ATTRIBUTES --- //
.perspectives {
    background-color: #F5F5F1;
    // color: black !important;
    height: auto;
    position: relative;
}

                                                    // --- ADD HOVER SHADOW EFFECT --- //
                                                    // .perspectives:hover {
                                                    //     transition-duration: 0.4s;
                                                    //     box-shadow: 10px 10px var(--color-rosa);
                                                    // }

   #perspective-title {
        padding: 0px 20px 0px 0px;
   }

    #perspective-title a {
        // color: black;
        font-family: var(--font-family-secondary);
        font-weight: 700;
    }

    #perspective-author {
        // color: black;
    }

    #perspective-themes {
        // color: black;
        border: 1px solid black;
    }

// --- PROJECT ATTRIBUTES --- //
.projects {
    // color: black !important;
    height: auto;
    padding: 0px !important;
    position: relative;
}

                                                    // --- ADD HOVER SHADOW EFFECT --- //
                                                    // .projects:hover * #project-thumb-img{
                                                    //     transition-duration: 0.4s;
                                                    //     box-shadow: 10px 10px var(--color-rosa);
                                                    // }

    #project-title {
        padding: 20px 20px 0px 0px;
    }

    #project-title a {
        // color: black;
    }

    #project-author {
        // color: black;
    }

    #project-themes {
        color: black;
        border: 1px solid black;
    }
