 // ------ GRID CONFIGURATIONS ------ //
 .section-grid {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "intro intro . ."
        ". subhead subhead ."
        ". text text text"
        ". t_machine t_machine t_machine"
        ". . . t_m_background"
        ". remark remark remark"
        ". relation relation relation"
        "all all all all";
}



// \\\\\\\\\\\\\\\\\\\\\\\\\\\ text types \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// text types ///////////////////////////

input[type='checkbox'] { display: none; }

// Everything paragraph text ---------------------------------------------------- 
::ng-deep .paragraph-text p {
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family-secondary);
    line-height: var(--line-height-paragraph);
}

::ng-deep .intro-text p {
    font-family: var(--font-family-primary);
}

::ng-deep .intro-text p em{
    font-family: var(--font-family-primary);
    font-style: italic;
}

// COMPONENT > "intro" ---------------------------------------------------- 
.comp_intro_container {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: var(--font-size-primary-s);
    line-height: 1;
    padding: 20px 0px 40px var(--margin-s);
    grid-area: intro;
    display: block;
    position: relative;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.comp_intro {
    position: absolute;
}


// COMPONENT > "paragraph-with-machine" ---------------------------------------------------- 
// COMPONENT > "paragraph-with-image" ---------------------------------------------------- 
.comp_textblock_paragraph {
    width: 60%;
    margin: 0px 0px 0px 0px;
}
// COMPONENT > "paragraph-with-image" ---------------------------------------------------- 
.comp_textblock_image { 
    grid-area: t_machine; 
}
.indented_image{
    box-sizing: border-box;
    margin-right: 22%;
    padding: 20px 0px 20px 40px;
    width: 40%;
}

// COMPONENT > "paragraph-with-machine" ---------------------------------------------------- 
// MACHINE GENERATED CSS ATTRIBUTES//
.comp_textblock_machine {
    grid-area: t_machine;
    padding: 0px 0px 0px 0px;
}
    .txt_m_container{
        float: right;
        height: auto;
        width: 60%;
        position: relative;
        hyphens: auto;
    }

    .txt_img_container{
        float: right;
        height: auto;
        width: 45%;
        position: relative;
    }

    .remark_container, .relation_container {
        float: right;
        height: auto;
        width: 100%;
        padding: 0px 100px 0px 20px;
    }
        .comp_m_output {
            // top: 30px;
            height: auto;
            position: absolute;
            width: 90%;
            padding: 15px 0px 0px 45px;
            font-family: var(--font-family-machine);
            font-weight: 400;
            font-size: var(--font-size-machine-text);
            line-height: 1.2;
        }
        .comp_m_title {
            padding-left: 20px;
            text-indent: -30px;
            margin-left: -35px;
            width: auto;
            z-index: 100;
            font-weight: 300;
            font-size: 1rem;
        }
        .comp_m_text{
            max-height: 100%;
            text-indent: 170px;
            padding: 0px 0px 60px 20px;
            overflow: hidden;
            transition: max-height .4s ease-in-out;
            // line-height: 1.2;
        }
        #circle1 {
            height: 130%;
            width: 30em;
            top: -70px;
            left: 100px;
            border-radius: 50%;
            position: absolute;
            filter: blur(1.8rem);
            z-index: 0;

            // colour gradient
            background: rgb(251,170,183);
            background: -moz-linear-gradient(146deg, rgba(251,170,183,0.6082808123249299) 0%, rgba(255,132,154,0.7091211484593838) 9%, rgba(252,154,171,0.7455357142857143) 26%, rgba(245,219,221,0.6867121848739496) 68%, rgba(243,243,239,0.3449754901960784) 100%);
            background: -webkit-linear-gradient(146deg, rgba(251,170,183,0.6082808123249299) 0%, rgba(255,132,154,0.7091211484593838) 9%, rgba(252,154,171,0.7455357142857143) 26%, rgba(245,219,221,0.6867121848739496) 68%, rgba(243,243,239,0.3449754901960784) 100%);
            background: linear-gradient(146deg, rgba(251,170,183,0.6082808123249299) 0%, rgba(255,132,154,0.7091211484593838) 9%, rgba(252,154,171,0.7455357142857143) 26%, rgba(245,219,221,0.6867121848739496) 68%, rgba(243,243,239,0.3449754901960784) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbaab7",endColorstr="#f3f3ef",GradientType=1);
        }
        .ghost {
            visibility: hidden;
            top: 0;
            left: 0;
            position: relative;
        }

        .icon {
            // width: 80px;
            // height: 80px;
            position: relative;
            cursor: pointer;
            
            &::after,
            &::before {
              content: "";
              position: absolute;
              top: 40%;
              left: -85px;
              background-color: black;
              width: 21px;
              height: 3px;
              transition: .4s ease;
            }
            
            &.show-more::after {
              transform: rotate(-90deg) ;
            }
            &.show-more::before {
              transform: rotate(-180deg) ;
            }
          }
          

// COMPONENT > "subhead" ---------------------------------------------------- 
.subhead{
    font-family: var(--font-family-primary);
    grid-area: subhead;
    padding: 20px 0px 20px 0px;
    font-weight: 500;
    font-size: var(--font-size-paragraph);
    line-height: 1.3;
}

// COMPONENT > "paragraph-plain" ----------------------------------------------------
.plain_text{ 
    grid-area: text; 
    width: 60%; 
}





// COMPONENT > "text-remark" ----------------------------------------------------
// .comp_textblock_remark {
//     grid-area: remark;
//     display: inline-flex;
// }
// .comp_remark {
//     position: relative;
//     float:left;
// }
// .comp_textblock_remark .comp_textblock_paragraph { width: 60%; }


// COMPONENT > "text-relation" ----------------------------------------------------
.comp_relation {
    position: relative;
    float:left;
}
.c_r_text, .relation_artistname, .c_r_title, .relation_title {
    color: #031DFF;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-date);
    font-weight: 300;
    line-height: 1.25;
}

.relation_title #project_title, .relation_title #podcast_title {
    font-family: var(--font-family-primary);
    font-weight: 500;
}

.relation_title #artist_name, .relation_title #podcast_speakers, .relation_title #perspective_author {
    font-family: var(--font-family-secondary);
    font-weight: 500;
}

.relation_title #perspective_title {
    font-family: var(--font-family-secondary);
    font-weight: 700;
}


.comp_textblock_relation {  
    grid-area: relation;
    padding: 0px 0px 0px 0px;
    display: inline-flex;
}
.relation_img {
    max-width: 300px;
    padding: 10px 0px 30px 0px;
}

.btn-icon {
    height: 1em;
}

.project-related { grid-area: sidebar; }

.side_comments{ width: 40%; }
.side_comment { opacity: 0; }
.side_comment_padding{ padding-bottom: 50px; }

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


// @media (min-width: 1200px) {
//     #circle1 {
//         height: 130%;
//         width: 30em;
//     }
// }



/* ------------------------------------------------------------ */
/* ---------------------TABLET SECTION------------------------- */
/* ------------------------------------------------------------ */

// ---- IPAD PRO ---- //
@media (max-width: 1200px) {

    .section-grid {
        grid-template-columns: 15% 45% 25% 15%;
    }

    #circle1 {
        height: 100%;
        width: 20em;
        top: -20px;
    }

    .relation_img {
        max-width: 200px;
        padding: 0px 0px 30px 0px;
    }

    .relation_container { padding: 0px 70px 0px 60px; }
    .indented_image { margin-right: 18%; }
    .plain_text{ width: 70%;}

}

@media (min-width: 768px) {
}

// ---- IPAD (768 x 1042) ---- //
@media (max-width: 768px) {
    #circle1 {
        height: 100%;
        width: 22em;
        top: -32px;
        left: -35px;
    }

    .relation_img { max-width: 140px; padding: 0px 0px 30px 0px; }

    .relation_container { padding: 0px 70px 0px 60px; }

    .comp_textblock_paragraph {
        width: 72%;
        margin: 0px 0px 0px 0px;
    }

    .comp_intro_container {
        grid-area: all;
        width: 70%;
        padding: 0px 0px 40px var(--margin-s);
    }

    #circle1 { 
        display: block;
        width: 40em;
        top: 23px; 
    }
    .txt_img_container { float: none; max-height: 300px; width: 75%; }
    .indented_image { margin: 0px 0px 0px 40px; }

 
// ---- side elements for now deactivated ----
    .side_comments { display: none; }
    .txt_m_container { 
        display: block;
        float: left; 
        width: 90%;
        padding-top: 30px;
    }

    .comp_textblock_paragraph { width: 90%;}
    .plain_text{ width: 90%;}
    .comp_m_title {
        width: auto;
        padding-left: 0px;
        text-indent: 0px;
        margin-left: 0px;
        font-size: 1em;
    }

    .comp_m_output {
        position: relative;
        padding: 0px;
    }
    
    .comp_m_text {
        display: block;
        max-height: 0em;
        padding: 0px;
    }

    .checkbox:checked ~ .comp_m_text {
        // display: block;
        max-height: 200em; 
      }
      

    .indented_image { margin: 40px 0px 40px -60px; padding: 0px; }

}

/* ------------------------------------------------------------ */
/* ---------------------MOBILE SECTION------------------------- */
/* ------------------------------------------------------------ */

/* 36em = 576px */
// ---- iPhone Plus + iPhone Flipped (approx 560px width)---- //
@media (max-width: 36em) {

    .comp_intro_container { width: 80%; line-height: 1.3; }
    
    .icon {
        &::after,
        &::before {
            left: -36px;
            width: 15px;
            height: 2px;
        }
    }

    .indented_image {
        margin: 40px 0px 40px -35px;
    }

 }