 // ------ GRID CONFIGURATIONS ------ //
 .section-grid {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "intro intro . ."
        ". subhead subhead ."
        ". text text text"
        ". t_machine t_machine t_machine"
        ". . . t_m_background"
        ". remark remark remark"
        ". relation relation relation"
        "all all all all";
}



// \\\\\\\\\\\\\\\\\\\\\\\\\\\ text types \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// text types ///////////////////////////

// COMPONENT > "intro" ---------------------------------------------------- 
.comp_intro_container {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: var(--font-size-primary-s);
    line-height: 1;
    padding: 20px calc(var(--margin) + 50px) 40px var(--margin);
    grid-area: intro;
    display: block;
    position: relative;
}
.comp_intro {
    position: absolute;
}


// COMPONENT > "paragraph-with-machine" ---------------------------------------------------- 
// COMPONENT > "paragraph-with-image" ---------------------------------------------------- 
.comp_textblock_paragraph {
    width: 60%;
    margin: 0px 0px 0px 0px;
}
// COMPONENT > "paragraph-with-image" ---------------------------------------------------- 
.comp_textblock_image { 
    grid-area: t_machine; 
}
.indented_image{
    box-sizing: border-box;
    margin-right: 22%;
    padding: 20px 0px 20px 40px;
    width: 40%;
}

// COMPONENT > "paragraph-with-machine" ---------------------------------------------------- 
// MACHINE GENERATED CSS ATTRIBUTES//
.comp_textblock_machine {
    grid-area: t_machine;
    padding: 0px 0px 0px 0px;
}
    .txt_m_container{
        float: right;
        height: auto;
        width: 60%;
        position: relative;
    }

    .txt_img_container{
        float: right;
        height: auto;
        width: 45%;
        position: relative;
    }

    .remark_container, .relation_container {
        float: right;
        height: auto;
        width: 100%;
        padding: 0px 100px 0px 20px;
    }
        .comp_m_output {
            // top: 30px;
            height: auto;
            position: absolute;
            width: 90%;
            padding: 15px 0px 0px 45px;
            font-family: var(--font-family-machine);
            font-weight: 400;
            font-size: var(--font-size-machine-text);
            line-height: 1.2;
        }
        .comp_m_title {
            padding-left: 20px;
            text-indent: -30px;
            margin-left: -50px;
            width: 100%;
            z-index: 100;
            font-weight: 300;
            font-size: 1rem;
        }
        .comp_m_text{
            text-indent: 170px;
            padding: 0px 0px 60px 20px;
            // line-height: 1.2;
        }
        #circle1 {
            height: 130%;
            width: 30em;
            top: -70px;
            left: 100px;
            border-radius: 50%;
            position: absolute;
            filter: blur(1.8rem);
            z-index: 0;

            // colour gradient
            background: rgb(251,170,183);
            background: -moz-linear-gradient(146deg, rgba(251,170,183,0.6082808123249299) 0%, rgba(255,132,154,0.7091211484593838) 9%, rgba(252,154,171,0.7455357142857143) 26%, rgba(245,219,221,0.6867121848739496) 68%, rgba(243,243,239,0.3449754901960784) 100%);
            background: -webkit-linear-gradient(146deg, rgba(251,170,183,0.6082808123249299) 0%, rgba(255,132,154,0.7091211484593838) 9%, rgba(252,154,171,0.7455357142857143) 26%, rgba(245,219,221,0.6867121848739496) 68%, rgba(243,243,239,0.3449754901960784) 100%);
            background: linear-gradient(146deg, rgba(251,170,183,0.6082808123249299) 0%, rgba(255,132,154,0.7091211484593838) 9%, rgba(252,154,171,0.7455357142857143) 26%, rgba(245,219,221,0.6867121848739496) 68%, rgba(243,243,239,0.3449754901960784) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbaab7",endColorstr="#f3f3ef",GradientType=1);
        }
        .ghost {
            visibility: hidden;
            top: 0;
            left: 0;
            position: relative;
        }


// COMPONENT > "subhead" ---------------------------------------------------- 
.subhead{
    grid-area: subhead;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
}

// COMPONENT > "paragraph-plain" ----------------------------------------------------
.plain_text{ 
    grid-area: text; 
    width: 60%; 
}





// COMPONENT > "text-remark" ----------------------------------------------------
// .comp_textblock_remark {
//     grid-area: remark;
//     display: inline-flex;
// }
// .comp_remark {
//     position: relative;
//     float:left;
// }
// .comp_textblock_remark .comp_textblock_paragraph { width: 60%; }


// COMPONENT > "text-relation" ----------------------------------------------------
.comp_relation {
    position: relative;
    float:left;
}
.c_r_text, .relation_artistname, .c_r_title, .relation_title {
    color: #031DFF;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-date);
    font-weight: 300;
    line-height: 1.25;
}

.relation_title #project_title, .relation_title #podcast_title {
    font-family: var(--font-family-primary);
    font-weight: 500;
}

.relation_title #artist_name, .relation_title #podcast_speakers, .relation_title #perspective_author {
    font-family: var(--font-family-secondary);
    font-weight: 500;
}

.relation_title #perspective_title {
    font-family: var(--font-family-secondary);
    font-weight: 700;
}


.comp_textblock_relation {  
    grid-area: relation;
    padding: 0px 0px 0px 0px;
    display: inline-flex;
}
.relation_img {
    max-width: 300px;
    padding: 10px 0px 30px 0px;
}

.btn-icon {
    height: 1em;
}

.project-related { grid-area: sidebar; }

.side_comments{ width: 40%; }
.side_comment { opacity: 0; }
.side_comment_padding{ padding-bottom: 50px; }

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


// @media (min-width: 1200px) {
//     #circle1 {
//         height: 130%;
//         width: 30em;
//     }
// }


// ---- IPAD PRO ---- //
@media (max-width: 1200px) {

    .section-grid {
        grid-template-columns: 15% 45% 25% 15%;
    }

    #circle1 {
        height: 100%;
        width: 20em;
        top: -20px;
    }

    .relation_img {
        max-width: 200px;
        padding: 0px 0px 30px 0px;
    }

    .relation_container { padding: 0px 70px 0px 60px; }
    .indented_image { margin-right: 18%; }
    .plain_text{ width: 70%;}

}


// ---- IPAD (768 x 1042) ---- //
@media (max-width: 768px) {
    #circle1 {
        height: 100%;
        width: 22em;
        top: -32px;
        left: -35px;
    }

    .relation_img { max-width: 140px; padding: 0px 0px 30px 0px; }

    .relation_container { padding: 0px 70px 0px 60px; }

    .comp_textblock_paragraph {
        width: 72%;
        margin: 0px 0px 0px 0px;
    }

    .comp_intro_container {
        font-family: var(--font-family-primary);
        font-weight: 300;
        font-size: var(--font-size-primary-s);
        line-height: 1;
        padding: 20px calc(var(--margin) + 50px) 40px 0px;
        grid-area: intro;
        display: block;
        position: relative;
    }
}

@media (max-width: 48em) {
    #circle1 { display: none; }
    .txt_img_container { float: none; max-height: 300px; width: 75%; }
    .indented_image { margin: 0px 0px 0px 40px; }

 
// ---- side elements for now deactivated ----
    .side_comment { display: none; }
    .txt_m_container { display: none; }

    .comp_textblock_paragraph {
        width: 90%;
      }
}