.image_gpt_container{
    text-align: left;
    width: 0;
    background-color: blue;
}
.image_gpt_container > * {
    padding-right: 10px;
    
}

#artists-mobile {
    background-color: var(--color-white);
    // background-color: blue;

    position: static;
    padding-top: var(--padding-between-sections);
    padding-bottom: var(--padding-between-sections);
    padding-right: var(--margin);
    padding-left: var(--margin);
    z-index: 1;
    color: black;
    font-family: var(--font-family-secondary);
    font-weight: 400;

    line-height:1.2;
    text-align:center;
    display: inline-block;
    word-break: normal;
    font-size: var(--font-size-secondary);
}



#teilnehmer_innen {
    background-color: var(--color-white);
    position: static;
    padding-top: var(--padding-between-sections);
    padding-bottom: var(--padding-between-sections);
    padding-right: var(--margin);
    padding-left: var(--margin);
    z-index: 1;
    color: black;
    font-family: var(--font-family-secondary);
    font-weight: 300;
    font-size: var(--font-size-secondary);
    /* line-height: 1.2; */

    line-height:1.2;
    text-align:center;
    // display: inline-block;
}

.list_object {
    width: auto;
    /* height: auto; */
    display:inline-block;
    /* background-color: burlywood; */
    text-align: left;
}

.parent_artist_names {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    /* margin-left: 0px;
    margin-right: 0px; */
    /* height: auto; */
    /* height: 64px; */
    vertical-align: top;
    margin-bottom: 5px;;
}

.child_artist_list_images_spans {
    /* height: 64px; */
    position: absolute;
    /* background-color: cyan; */

}
.child_artist_list_images_spans > * {
    vertical-align: top;
    /* vertical-align: text-top; */
}
/* .child_artist_list_images_spans > img {
    width:64px;
    height: 64px;
} */

.child_artist_list_names {
    visibility: hidden;
    /* vertical-align: text-top; */
    /* vertical-align: bottom; */

}

.blank_span_simulating_loading {
    visibility: hidden;
}
#artist_list_images_imgs{
    width: 64px;
    height: 64px;
    /* vertical-align: text-top; */
}

.artist_list_komma {
    display: inline-block;
    /* vertical-align: top; */
}

.artist_list_colored_div {
    background:  var(--color-rosa); 
    width: 64px; 
    height: 64px;
}



 /* ---------- RESPONSIVE PROPERTIES --------- */

 @media (min-width: 1024px) {
    // .artist_list_images_imgs{
    //     height: 64px;
    //     width: 64px;
    // }
    // .artist_list_colored_div{
    //     height: 64px;
    //     width: 64px;
    // }
    
    // #artists-mobile{
    //     display: none;
    // }
    .child_artist_list_images_spans > img{
        height: 32px;
        width: 32px;
    }
    
  }
  
  @media (max-width: 1024px) {
    // .artist_list_images_imgs{
    //     height: 32px;
    //     width: 32px;
    // }
    // .artist_list_colored_div{
    //     height: 32px;
    //     width: 32px;
    // }
    .child_artist_list_images_spans > img{
        height: 32px;
        width: 32px;
    }
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    // .artist_list_images_imgs{
    //     height: 32px;
    //     width: 32px;
    // }
    // .artist_list_colored_div{
    //     height: 32px;
    //     width: 32px;
    // }
    // #artists-mobile{
    //     display: none;
    // }
    .child_artist_list_images_spans > img{
        height: 32px;
        width: 32px;
    }
  }
  
  /* 48em = 768px */
  
  @media (max-width: 48em) {

  }
  
  /* 36em = 576px */
  
  @media (max-width: 36em) {

  }
  
  @media (max-width: 320px) {

  }
  