.innerhtml {
    grid-area: text;
    width: 60%;
    padding: 30px 0px;
}

/* ------------------------------------------------------------ */
/* ---------------------DESKTOP SECTION------------------------- */
/* ------------------------------------------------------------ */

@media (max-width: 1200px) {}

@media (min-width: 1042px) {}

/* ------------------------------------------------------------ */
/* ---------------------TABLET SECTION------------------------- */
/* ------------------------------------------------------------ */

// ---- iPad PRO (1042 x 1366) ---- //
@media (max-width: 1042px) {}

// ---- IPAD (768 x 1042) ---- //
@media (max-width: 768px) {}

/* ------------------------------------------------------------ */
/* ---------------------MOBILE SECTION------------------------- */
/* ------------------------------------------------------------ */

/* 36em = 576px */
// ---- iPhone Plus + iPhone Flipped (approx 560px width)---- //
@media (max-width: 36em) {
    .innerhtml { width: 77% }
}

// ---- iPhone 6/7/8/X (375 x 667/812)---- //
@media (max-width: 375px) {
    .innerhtml { width: 90% }
}

// ---- iPhone 5/SE (320 x 568)---- //
@media (max-width: 320px) {}