    #programme {
        background-color: var(--color-white);
        position: static;
        padding-top: var(--padding-between-sections);
        padding-bottom: var(--padding-between-sections);
        padding-right: var(--margin);
        padding-left: var(--margin);
        z-index: 1;
        font-weight: var(--font-weight-primary);
        font-size: var(--font-size-primary);
        font-family: var(--font-family-primary);
        line-height: 1.2;
        min-height: 100vh;
        max-height: auto;
    }


  /* The checkbox will be invisible and its label will be used instead to check or uncheck it. */
  input[type='checkbox'] { 
    display: none;
  } 

  .break {
    display: none;
  }

  .event {
    text-align: left; 
    color: black; 
    cursor: pointer; 
    display: inline;
  }

  .name {
    padding-right: 10px;
  }

  .event:hover {
    color: var(--color-rosa);
  }

  .event_selected {
    position: static;
    max-height: 100vh;
    max-width: 100vh;
    color: black;
  }

  .date {
    font-size: var(--font-size-date);
    font-family: var(--font-family-primary);
    font-weight: 300;
    padding-right: 10px;
  }

  // .collapsible-content { 
  //   max-height: 0px;
  //   max-width: 0px;
  //   overflow: hidden; 
  //   transition: color 1s ease-in; 
  //   font-family: var(--font-family-secondary);
  //   position: absolute;
  //   font-size: var(--font-size-primary-s); 
  //   text-align: left;
  //   color: white;
  // } 

  .event_content {
    max-height: 0px;
    max-width: 0px;
    overflow: hidden; 
    transition: color 1s ease-in; 
    font-family: var(--font-family-secondary);
    position: absolute;
    font-size: var(--font-size-primary-s); 
    text-align: left;
    color: white;
  }