<div *ngIf="characters$ | async as characters; else loading">
  <div *ngFor="let character of characters" class="character-card">
    <div class="date">
      {{ character.date }}
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>

<div id="programme">

    <div class="wrap-collabsible"> 
      


      <ng-container *ngFor="let event of events; let i = index">

        
        <label 
          [for]="event.id" 
          class="event"
          id="event.selected-{{event.id}}">
            <span class="date">{{event.period}}</span>
            <span class="name">{{event.title}}</span>
        </label>

        <input  
          class="toggle"
          type="checkbox" 
          name="toggle-themes" 
          [id]="event.id" 
          [(ngModel)]="event.selected" 
          [value]="event.title" 
          (change)="getSelected()"> 

        <span 
          [class.event_selected]="event.selected"
          class="event_content">
          <!-- id="collapsible-{{i}}" -->
          {{event.info}}  
        </span>
        
        <div class="break" id="animate-br-{{i}}"></div>

        
      </ng-container>
        
        



    
    </div>
  
  </div>
  
  
  