<!-- <div *ngIf="characters$ | async as characters; else loading">
  <div *ngFor="let character of characters" class="character-card">
    <div class="date">
      {{ character.date }}
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template> -->

<app-header></app-header>

<div id="programm">
  <div class="wrap-collabsible"> 

    <!-- ------------------ performances ------------------ -->
    <div class="event_category" id="initialCategory">Performances</div>

    <span *ngFor="let performance of event_performances, let i = index" class="allthemes">
      <label for="checkbox_{{performance.id}}" (click)="showHideInfo(performance.id)"  class="event">
        <span class="date">{{ performance.date_time }}</span>
        <span class="event_title">{{ performance.title }}</span>
        <span class="name">{{ performance.author }}</span>
      </label>
      <input id="checkbox_{{performance.id}}" class="toggle" type="checkbox"> 
      <span class="collapsible-content" id="collapsible_info_{{performance.id}}">
        <markdown class="markdown">
          {{ performance.info_text }}
        </markdown>
      </span>
      <div class="break" id="animate_br_{{performance.id}}"></div>
    </span>


    <!-- ------------------ talks ------------------ -->
    <div class="event_category">Gespräche und Vorträge</div>

    <span *ngFor="let talk of event_talks, let i = index" class="allthemes">
      <label for="checkbox_{{talk.id}}" (click)="showHideInfo(talk.id)"  class="event">
        <span class="date">{{ talk.date_time }}</span>
        <span class="event_title">{{ talk.title }} {{ talk.author }}</span>
      </label>
      <input id="checkbox_{{talk.id}}" class="toggle" type="checkbox"> 
      <span class="collapsible-content" id="collapsible_info_{{talk.id}}">
        <markdown class="markdown">
          {{ talk.info_text }}
        </markdown>
      </span>
      <div class="break" id="animate_br_{{talk.id}}"></div>
    </span>


    <!-- ------------------ specials ------------------ -->
    <div class="event_category">Specials</div>

    <span *ngFor="let special of event_specials, let i = index" class="allthemes">
      <label for="checkbox_{{special.id}}" (click)="showHideInfo(special.id)" class="event">
        <span class="date">{{ special.date_time }}</span>
        <span class="event_title">{{ special.title }} {{ special.author }}</span>
      </label>
      <input id="checkbox_{{special.id}}" class="toggle" type="checkbox"> 
      <span class="collapsible-content" id="collapsible_info_{{special.id}}">
        <markdown class="markdown">
          {{ special.info_text }}
        </markdown>
      </span>
      <div class="break" id="animate_br_{{special.id}}"></div>
    </span>


  </div>
</div>
  
  
