#programm {
  background-color: var(--color-white);
  position: static;
  padding-top: var(--padding-between-sections);
  padding-bottom: var(--padding-between-sections);
  padding-right: var(--margin);
  padding-left: var(--margin);
  z-index: 1;
  font-weight: 500;
  font-size: var(--font-size-primary);
  font-family: var(--font-family-primary);
  line-height: 1.2;
  min-height: 100vh;
  max-height: auto;
}


/* The checkbox will be invisible and its label will be used instead to check or uncheck it. */
input[type='checkbox'] { 
display: none;
} 

.break {
display: none;
}

.event {
font-weight: 500;
text-align: left; 
color: black; 
cursor: pointer; 
display: inline;
padding-top: 20px;
}

span.name {
  font-family: var(--font-family-secondary);
  font-weight: 300;
}

span.event_title {
  padding-right: 0.3em;
}

.name {
padding-right: 10px;
}

.event:hover {
color: var(--color-rosa);
}

// .event_selected {
//   position: static;
//   max-height: 100vh;
//   max-width: 100vh;
//   color: black;
// }

.date {
font-size: var(--font-size-date);
font-family: var(--font-family-primary);
font-weight: 300;
padding-right: 10px;
}

.collapsible-content { 
max-height: 0px;
max-width: 0px;
overflow: hidden; 
transition: color 1s ease-in; 
font-family: var(--font-family-secondary);
font-weight: 300;
position: absolute;
font-size: var(--font-size-primary-s); 
text-align: left;
color: white;
} 

.event_content {
max-height: 0px;
max-width: 0px;
overflow: hidden; 
transition: color 1s ease-in; 
font-family: var(--font-family-secondary);
position: absolute;
font-size: var(--font-size-primary-s); 
text-align: left;
color: white;
}

.checked_element {
position: static;
/* display: inline; */
max-height: 100vh;
max-width: 100vh;
color: black;
}
.checked_element_break {
display: block;
}

.event_category{
color: black;
padding-top: 80px;
}

#initialCategory {
padding-top: 0px;
}

::ng-deep .collapsible-content .markdown p a {
  text-decoration: underline;
}

// ----------- PAGE LOADER CONFIG ------------ //
.animate {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



/* ------------------------------------------------------------ */
/* ---------------------DESKTOP SECTION------------------------- */
/* ------------------------------------------------------------ */

@media (max-width: 1200px) {}

@media (min-width: 1042px) {}

/* ------------------------------------------------------------ */
/* ---------------------TABLET SECTION------------------------- */
/* ------------------------------------------------------------ */

// ---- iPad PRO (1042 x 1366) ---- //
@media (max-width: 1042px) {}

// ---- IPAD (768 x 1042) ---- //
@media (max-width: 768px) {}

/* ------------------------------------------------------------ */
/* ---------------------MOBILE SECTION------------------------- */
/* ------------------------------------------------------------ */

/* 36em = 576px */
// ---- iPhone Plus + iPhone Flipped (approx 560px width)---- //
@media (max-width: 36em) {
  .event { padding-top: 10px; }
}

// ---- iPhone 6/7/8/X (375 x 667/812)---- //
@media (max-width: 375px) {}

// ---- iPhone 5/SE (320 x 568)---- //
@media (max-width: 320px) {}