<!-- <div class="container">    
    <table class="table table-bordered table-hover">    
      <tr>    
        <th>episode</th>     
        <th>Title</th>    
        <th>Date</th>    
        <th>Url</th>    
        <th>Length</th>
        <th>countingUP</th>
      </tr>    
      <tr *ngFor="let item of xmlItems">  
        <td>{{item.episode}}</td>  
        <td>{{item.title}}</td>   
        <td>{{item.date}}</td> 
        <td>{{item.url}}</td> 
        <td>{{item.length}}</td>
        <td>{{item.countingUP}}</td>  
      </tr>    
    </table>    
  </div>  -->


<div (click)="showPodcastList=!showPodcastList" id="podcast_area_all" class="player-container">

    <div #audio_files id="audio_files" >
        <audio *ngFor="let item of xmlItems" id={{item.episode}} class='podcast_audio_files' controls='controls' preload='none'> 
            <source src={{item.url}} type='audio/mpeg'>
        </audio>
    </div>

    <ul *ngIf="showPodcastList" class="podcast_track_list podcast_list_collapsed" >
        <div *ngFor="let item of xmlItems" class='player-controls play' id='podcast_list_object_{{item.episode}}'>
            <span class='track_name podcast_play_pause_icon'><img src="/assets/logos/2070_button_play.png" class="play_pause_symbol"></span>
            <span class='track_name track_number' id='track_name_number_{{item.countingUP}}'>{{item.episode}}</span>
            <span class='track_name'>Off_line</span>
            <span class='track_name track_name_title' id='track_name_{{item.countingUP}}'><p> <span> {{item.title}} </span></p></span>
            <span class='track_name podcast_date'>{{item.date}}</span>
        </div>
    </ul>


    <div id="all_of_timeline">
        <div class="audio-timeline" id="timeline">
            <div class="info" id="playhead">
                <span id="duration">0:00</span>
            </div>
        </div>
        <div class="info" id="timeleft"></div>
    </div>

    <div id="current_podcast">
        <div id="current_podcast_click_area" class="player-controls play">
            <span class="current_podcast_track_name" id="current_podcast_play_pause_icon"><img src="/assets/logos/2070_button_play.png" class="play_pause_symbol"></span>
            <span class="current_podcast_track_name track_number" id="current_podcast_track_name_number"></span>
            <span class="current_podcast_track_name">Off_line</span>
            <span class="current_podcast_track_name track_name_title" id="current_podcast_track_name"></span>
            <span class="current_podcast_track_name podcast_date"></span>
        </div>

        <div id="volume" style="position: absolute; right: 15px; top: 8px;">
            <div class="volume_step" id="volume_step_0"></div>
            <div class="volume_step" id="volume_step_1"></div>
            <div class="volume_step" id="volume_step_2"></div>
            <div class="volume_step" id="volume_step_3"></div>
            <div class="volume_step" id="volume_step_4"></div>
        </div>
    </div>

</div>

<!-- ------------------------- podcast javascript ---------------------------  -->

<!-- <script src="./assets/js/podcastplayer.js"></script> -->
