<div class="announcementInner">
    <header id="announcementTitle">
        Aus <br> heutiger <br> Sicht. <br> Diskurs <br> über <br> Zukunft <br> 24.4.-4.7.
    </header>

    <p id="announcementIntro">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corporis facere illum ducimus fuga? Soluta, necessitatibus quam aliquam eligendi rem nisi molestias in velit dicta veritatis voluptate recusandae excepturi? Veniam non aliquam vitae aperiam soluta officiis, sapiente, est cupiditate tempora dolore neque nemo repellendus ad, facere explicabo dolorum ullam repudiandae. Et aliquam qui, ut, natus quaerat cum voluptatibus ratione enim illum odio autem quidem amet laborum nemo sapiente quos porro debitis sed consequuntur repudiandae doloribus aut voluptatum doloremque. Corrupti optio numquam adipisci quaerat, eligendi animi fuga est! Ullam ab numquam voluptate molestias, laudantium nostrum eum qui et impedit temporibus. Deleniti.
    </p>

    <section class="announcementVideo" id="grussworte">

        <iframe src="https://player.vimeo.com/video/391231617" width="1042" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

        <b class="video_title">Grußworte</b>
        <p class="video_description">
            Prof. Matthias Wagner K, Direktor Museum Angewandte Kunst, Prof. Bernd Kracke, Präsident HfG Offenbach, Dr. Ina Hartwig, Kulturdezernentin der Stadt Frankfurt, Peter Gatzemeier, Vorstandsmitglied Dr. Marschner Stiftung
        </p>
    </section>

    <div id="contentWrapper">
        <section class="announcementVideo" id="crankTheDiscDown">
    
            <iframe src="https://player.vimeo.com/video/483459645" width="1042" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
            <b class="video_title">Livestream, ab 16:20 Uhr</b>
            <p class="video_description">
                <span>            
                    <b>"crank the disco down"</b>
                    Performance von Julia Hainz & Veronika Haller
                </span>
                <span>
                    Im Rahmen des <i>Recording rooms</i>, eine Installation aus den Lehrgebieten Performance im erweiterten Feld und Elektronische Medien, unter der Leitung von Prof. Kerstin Cmelka und Prof. Alexander Oppermann. Technisches Team: Elisa Deutloff, Jakob Dieckmann, Luca Ganz, Jonas Koroschetz
                </span>
            </p>
        </section>
    
        <section class="announcementVideo" id="digitaleFührung">
            
            <iframe src="https://player.vimeo.com/video/391232040" width="1042" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
            <b class="video_title">Digitale Führung #1</b>
            <p class="video_description">
                Für einen Einblick in die musealen Räume Porro te pre nem rem is Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident molestiae cum alias non incidunt exercitationem dicta. Ex ea quidem alias magni doloremque. Velit quaerat distinctio iure veritatis, facilis ipsum dolorum eos, maxime culpa incidunt aspernatur?
            </p>
        </section>
    </div>


    <section id="announcementOutro">
        Launch des digitalen Raums um 19:00 Uhr auf dieser Seite. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid sapiente reprehenderit molestias mollitia quia ad esse impedit a sint officia.
    </section>



</div>


