<div class="announcementInner">
    <app-header  ></app-header>

    <header id="announcementTitle">
        Aus <br> heutiger <br> Sicht. <br> Diskurse <br> über <br> Zukunft. <br> 24.4.&ndash; 4.7.
    </header>

    <p class="announcementSubhead">
        Endlich ist es soweit: Die HfG-Jubiläumsausstellung <span class="text-title">Aus heutiger Sicht. Diskurse über Zukunft</span> startet im Museum Angewandte Kunst Frankfurt am Main. Leider vorerst digital, da das Museum aufgrund der aktuellen Maßnahmen zur Eindämmung des Coronavirus zunächst geschlossen bleiben muss. Aber wir sind optimistisch, dass es in der glücklicherweise langen Laufzeit genügend Zeit geben wird, die Ausstellung analog zu besuchen. Es lohnt sich!
    </p>

    <section class="announcementVideo" id="grussworte">

        <div class="embedContainer">
            <iframe src="https://player.vimeo.com/video/539671311" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>


        <b class="videoTitle announcementSubhead"><br>Grußworte</b>
        <p class="videoDescription announcementSubhead">
            Prof. Matthias Wagner K, Direktor Museum Angewandte Kunst <br>
            Angela Dorn, Hessische Ministerin für Wissenschaft und Kunst <br>
            Dr. Ina Hartwig, Kulturdezernentin Stadt Frankfurt <br>
            Prof. Bernd Kracke, Präsident HfG Offenbach <br>
            Peter Gatzemeier, Vorstandsmitglied Dr. Marschner Stiftung
        </p>
    </section>

    <section class="announcementVideo announcementSubhead" id="digitaleFührung">

        <div class="embedContainer">
            <iframe src="https://player.vimeo.com/video/539675880" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>


        <b class="videoTitle "><br>Digitale Führungen &ndash; Prolog</b>
        <p class="videoDescription">          
            Der Prolog gewährt einen ersten Einblick in die Ausstellungsräume im Museum Angewandte Kunst in Frankfurt. In den nächsten Tagen werden sechs weitere Themenfilme die Räume der Ausstellung vorstellen.
        </p>
    </section>

    <section class="announcementVideo announcementSubhead" id="crankTheDiscDown">

        <div class="embedContainer">
            <iframe src="https://player.vimeo.com/video/538679522?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=5847" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>


        <b class="videoTitle"><br>Livestream, ab 16:20 Uhr</b>
        <p class="videoDescription">
            <span>            
                <b>"crank the disco down"</b>
                <br> Performance von Julia Hainz & Veronika Haller
            </span>
            <span>
                Prof. Matthias Wagner K (Direktor Museum Angewandte Kunst) und Prof. Bernd Kracke (Präsident HfG Offenbach) heißen Sie Willkommen, bevor die Ausstellung mit der Live-Performance »crank the disc down« von Julia Hainz und Veronika Haller eröffnet wird. Die Performance findet im Rahmen des Recording Rooms statt, einer Installation aus den Lehrgebieten Performance im erweiterten Feld und Elektronische Medien.
            </span>
        </p>
    </section>

    <section class="announcementSubhead" id="announcementOutro">
        <b class="videoTitle" id="launchDigitalRaum">Launch des digitalen Raums um 19 Uhr<br></b>
        <p class="videoDescription" id="description_outro">
            Im Anschluss an die digitale Eröffnung wird der komplette digitale Ausstellungsraum aussicht.space gelauncht. Durch die Integration von maschinellem Lernen entsteht im Digitalen ein Umgang von Informationen, der sich komplementär zu den musealen Räumen verhält. Hier finden Sie die Exponate, die für den digitalen Raum optimiert wurden, eine die Exponate kommentierende Essaysammlung, kuratorische Perspektiven sowie ein Werkverzeichnis.
        </p>
    </section>
</div>

