
<div id="lp-team">

    Kuratiert wird die Gruppenaus­stellung unter der Leitung von Matthias Wagner K, dem Direktor des Museum Angewandte Kunst, von einem neunköpfigen Projektteam mit 

    <div *ngFor="let tmember of tmembers; let i = index; let last = last" class="team_list">
        
        <label for="trigger-{{ tmember.name }}" class="team-member" id="{{ tmember.name }}" >
            {{ tmember.forename }} {{ tmember.name }}
        </label>
        <input id="trigger-{{ tmember.name }}" class="toggle" type="checkbox">
        <span class="collapsible-content-tmember" id="collapsible-{{ tmember.name }}" >
            <img class="tmember-img" src="/assets/imgs/team_list/{{ tmember.image }}">
            {{ tmember.profession }}
        </span>

        <div *ngIf="!last" class='tmember-comma'>,</div>
        <div *ngIf="last" class='tmember-comma'>.</div>

    </div>

</div>
