<div class="project-page">

    <!-- HEADER -------- HEADER--------- HEADER----------- HEADER---------- HEADER -->

    <!-- back to unit hub -->
    <button class="btn-back2hub">
        <span class="btn-icon">&#10229;</span>
        <a [routerLink]="['/units/']" class="btn-txt">Hub</a>
    </button>

    <!-- themes -->
    <header class="project-body-container">
        <div *ngIf="project" class="project-theme-container">
            <div *ngFor="let t of project.themes" class="themes">{{t.theme_name}}</div>
        </div>
    </header>


    <div class="">

        <!-- for each COMPONENT OF BODY ---------------------------------------------------- -->
        <ng-container *ngFor="let body of project.body, let i = index" 
        class="" id="body_container"> 


            <!-- COMPONENT > "project-related-info.title" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'project-related-info.title'" 
            class="project-body-container">
                <span class="default-project-info" id="project_title" *ngIf="project.body[i].style !== null " 
                [ngClass]="{
                    'width_small'     : project.body[i].style.width === 'small',
                    'width_medium'    : project.body[i].style.width === 'medium',
                    'width_large'     : project.body[i].style.width === 'large',

                    'aline_left'      : project.body[i].style.position === 'left',
                    'aline_center'    : project.body[i].style.position === 'center',
                    'aline_right'     : project.body[i].style.position === 'right',
                    
                    'padding_off'     : project.body[i].style.padding === false,
                    'padding_on'      : project.body[i].style.padding === true}">
                <!-- [ngStyle]="{'color': project.body[i].style.hex_color_code === true }" -->
                    {{project.body[i].title}}    
                </span>
            </div>

            <!-- COMPONENT > "project-related-info.name" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'project-related-info.name'" 
            class="project-body-container">
                <span class="default-project-info" id="project_name" *ngIf="project.body[i].style !== null"
                [ngClass]="{
                    'width_small'     : project.body[i].style.width === 'small',
                    'width_medium'    : project.body[i].style.width === 'medium',
                    'width_large'     : project.body[i].style.width === 'large',

                    'aline_left'      : project.body[i].style.position === 'left',
                    'aline_center'    : project.body[i].style.position === 'center',
                    'aline_right'     : project.body[i].style.position === 'right',
                    
                    'padding_off'     : project.body[i].style.padding === false,
                    'padding_on'      : project.body[i].style.padding === true}">
                    {{project.body[i].name}}
                </span>
            </div>



            <!-- addon addon addon addon ---------------------------------------------------- -->
            <!-- addon addon addon addon ---------------------------------------------------- -->
            <!-- addon addon addon addon ---------------------------------------------------- -->
            <!-- addon addon addon addon ---------------------------------------------------- -->
            <!-- COMPONENT > "addon.javascript-file-name" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'addon.javascript-file-name'" 
            class="project-body-container">
                <!-- ------------- custom-design-javascript ------------- -->
                <div *ngIf="project.body[i].javascript_file_name?.length" 
                class="">
                    <app-custom-design-javascript [project]="project.body[i].javascript_file_name"></app-custom-design-javascript>
                </div>
            </div>
            <!-- COMPONENT > "addon.html-css" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'addon.html-css' " 
            class="project-body-container">
                <!-- ------------- custom-design-blankHTML ------------- -->
                <div *ngIf="project.body[i].add_html_css?.length" 
                class="">
                    <app-custom-design-html-css [project]="project.body[i].add_html_css"></app-custom-design-html-css>
                </div>
            </div>
            <!-- COMPONENT > "addon.website" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'addon.website' " 
            class="project-body-container">
                <!-- ------------- custom-design-iframe ------------- -->
                <div *ngIf="project.body[i].website_link?.length" 
                class="">
                    <app-custom-design-iframe [project]="project.body[i].website_link"></app-custom-design-iframe>
                </div>
            </div>


            
            
            
            
            
            
            
            
            
            
            <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ transfer from perspective \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <!-- /////////////////////////// transfer from perspective /////////////////////////// -->
            
            <!-- add your code here          add your code here       add your code here -->
            
            <!-- COMPONENT > "image-type: fullscreen image" ---------------------------------------------------- -->
            <figure *ngIf=" project.body[i].__component === 'image-types.fullscreen-image'">
                <img class="img" id="fullscreen" src="{{project.body[i].image.url}}"> 
                    <figcaption class="img_caption">{{ project.body[i].image.caption }}</figcaption>
            </figure>

            
            
            <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ transfer from perspective \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <!-- /////////////////////////// transfer from perspective /////////////////////////// -->
            
            
            
        </ng-container>
        
        
        
    <!-- GPT images --------------------------------------------------------------- -->
    <!-- GPT images --------------------------------------------------------------- -->
    <!-- GPT images --------------------------------------------------------------- -->
    <!-- GPT images --------------------------------------------------------------- -->
    <div id="gpt_images"></div>
    

    <!-- ----------------------- recommendations ----------------------- -->
    <div class="recommendation">
        <div class="recommendation_intro">
            <h2>Related</h2>
            <h2>~type~</h2>
            <h2>--</h2>
        </div>
        <div class="recommendation_title">
            <h1>Title</h1>
            <h3>author</h3>
        </div>
    </div>

    <!-- ----------------------- PREVIOUS / NEXT ----------------------- -->
    <div class="next_project">
        <div class="previous_button">
            <h4>-- previous</h4>
        </div>
        <div class="next_button">
            <h4>next --</h4>
        </div>
    </div>



    </div>
</div>
<router-outlet></router-outlet>