a {
  text-decoration-line: none;
  color: black;
}

a:hover {
  text-decoration-line: none;
  color: var(--color-rosa);
  transition-duration: 0.2s;
}

// ------ themes ------ //

.project-theme-container { grid-area: themes; padding: 10px 0px;}
#container-themes { padding-top: var(--margin-s); }

.themes {
  display: inline-block;
  color: black;
  border: 1px solid black;
  margin: 0px 10px 10px 0px;
  padding: 5px 15px 5px 15px;
  font-family: var(--font-family-secondary);
  font-size: 15px;
  width: auto;
}

// padding for header // 
header {
  padding-bottom: 5vh;
}


// ------ BODY ------- //

// .project-title, .related-title {
//   font-family: var(--font-family-primary);
//   font-size: var(--font-size-primary-s);
//   margin: 0px;
// }

span#project_artist {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-primary);
  line-height: 1;
}

span#project_title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title-projects);
  font-weight: 500;
  line-height: 1;
}

.project-cover-media {
  padding: 30px 0px 0px 0px;
}

.caption {
  font-family: var(--font-family-secondary);
  font-size: 12px;
}


.project-intro {
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: var(--font-size-primary-s);
  line-height: 1;
  padding: 20px 0px 20px 0px;
  grid-area: intro;
}


.project-subhead {
  font-family: var(--font-family-primary);
  font-size: 20px;
  grid-area: subhead;
}

.project-description {
  grid-area: main;
  font-family: var(--font-family-secondary);
  font-size: 20px;
}

.project-related {
  grid-area: sidebar;
}




// ---------- side comments ------------
// .markdown_container{
//   position: relative;
// }
// .side_comments{
//   grid-area: sidebar;
//   grid-row: 1;
//   background-color: chartreuse;
//   width: 30vw;
//   height: auto;
// }
// .side_comments div{
//   background-color: chocolate;
//   width: 30vw;
// }
// .side_comment{
//   opacity: 0;
//   align-self: start;
//   position: relative;
//   background-color: aqua;
// }

// .fade-in {
//   animation: fadeIn ease 2s;
//   -webkit-animation: fadeIn ease 2s;
//   -moz-animation: fadeIn ease 2s;
//   -o-animation: fadeIn ease 2s;
//   -ms-animation: fadeIn ease 2s;
// }



// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new

::ng-deep .paragraph-text p {
  font-size: 25px;
  line-height: 1.3;
}

.project-page {
  margin: 0px;
  background-color: white;
  color: var(--color-black);

  // padding: 90px 0px 100px 0px;
}


// \\\\\\\\\\\\\\\\\\\\\\\\\\\ BODY \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// BODY /////////////////////////// 

// ----------------------- GRID CONFIGURATIONS ----------------------- 
// grid config with center-left alignment for project themes, artist name and project title
.header-grid {
  // padding: 90px var(--margin) 100px var(--margin);
  display: grid;
  grid-template-columns: 20% 30% 10% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
      ". . themes themes themes"
      ". . title title title"
      ". titlemobile titlemobile titlemobile titlemobile"
      " all all all all all"
      ". default default default default";
}

.section-grid {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
      "intro intro . ."
      ". subhead subhead ."
      ". text text text"
      ". t_machine t_machine t_machine"
      ". . . t_m_background"
      ". remark remark remark"
      ". relation relation relation"
      "all all all all";
}

[class="default-project-info"] { grid-area: title; width: 100%; padding: 0px var(--margin) 10px 0px;}
.default-project-info {
  position: relative;
  z-index: 3;
}



// ----------------------- gpt images ----------------------- 
#gpt_images{
  grid-area: all;
  padding: 30px 42px;
  width: 100%;
}




// \\\\\\\\\\\\\\\\\\\\\\\\\\\ text types \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// text types /////////////////////////// 


// COMPONENT > "free_text" ---------------------------------------------------- 
// .free_text { 
//   grid-area: all; 
// }
// .width_small, .width_medium, .width_large, .align_left, .align_center, .align_right { grid-area: all; }




// \\\\\\\\\\\\\\\\\\\\\\\\\\\ CURATORIAL TEXT \\\\\\\\\\\\\\\\\\\\\\\\\\\
// /////////////////////////// CURATORIAL TEXT ///////////////////////////

input[type='checkbox'] { display: none; }

label.collapsible-button {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  font-weight: 500;
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 20px var(--margin) -10px var(--margin-s);
  vertical-align: bottom;
  line-height: 1;
}

::ng-deep .collapsible-button:hover {
  color: var(--color-rosa)!important;
  transition-duration: 0.2s;
}

// ::ng-deep span.icon.show-more:hover {
//   background-color: var(--color-rosa)!important;
// }

.content span {
  font-family: var(--font-size-secondary);
  font-size: 2em;
  margin: 0px;
}

.curatorial-content {
  max-height: 0em;
  overflow: hidden;
  transition: max-height .6s ease-in-out;
  color: black;
  padding: 0px;

  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 98%, rgba(0,0,0,.10) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 98%, rgba(0,0,0,.10) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0) 98%, rgba(0,0,0,.10) 100%);
}

  .curatorial-content-wrapper {
    margin: 20px var(--margin-s);
  }

    #curatorial-intro {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-primary);
      font-weight: 300;
      line-height: 1.2;
      // padding: 20px var(--margin);
    }

    #curatorial-description {
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-primary);
      font-weight: 300;
      line-height: 1.2;
    }

#event:checked + .collapsible-button + .curatorial-content { 
  max-height: 200em; 
}

.icon {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
  
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 38%;
    right: -40px;
    background-color: black;
    width: 23px;
    height: 5px;
    transition: .4s ease;
  }
  
  &.show-more::after {
    transform: rotate(-90deg) ;
  }
  &.show-more::before {
    transform: rotate(-180deg) ;
  }
}



// ---------------------------------------------------------------

.project_additional_link {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
      "left right"
      "next next"
      "intro intro"
      "info info";
}

// ----------------------- recommendations -----------------------
.recommendation{
  height: auto;
  padding: var(--margin-s);
  color: black;
  background-color: #f5f5f0;
  // display: inline-block;

  // flex-direction: column;
}
.recommendation_info a {
color: black;
}
.recommendation_info a:hover {
  color: var(--color-rosa);
}

.btn-icon {
  font-size: 1.1em;
}
.recommendation_intro{
  grid-area: left;
  // grid-column: 1 / span 1;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: var(--font-size-primary-xs);
  line-height: 1em;
}
.recommendation_info{
  grid-area: right;
  font-family: var(--font-family-secondary);
}

  .recommendation_title{
    font-weight: 700;
    font-size: var(--font-size-primary-xs);
    line-height: 1em;
    padding-bottom: 0.3em;
  }

  .recommendation_author{
    font-weight: 400;
    font-size: var(--font-size-secondary-xs);
    line-height: 1em;
  }

li{
  list-style-type: none;
  margin-bottom: 60px;
}



// ----------------------- PREVIOUS / NEXT ----------------------- 
// .next_project{
//   font-family: var(--font-family-primary);
//   font-weight: 400;
//   font-size: 2rem;
//   display: flex;
//   margin: var(--margin-s);
// }
// .next_project a{
//   color: black;
// }
// .next_project a:hover{
//   color: var(--color-rosa);
// }
// .previous_button, .next_button{
//   margin-bottom: 50px;
//   width: 100%;
//   grid-area: next;
//   position: relative;
// }

// .next_button{ text-align: right; }

// .btn-icon {
//   font-size: 1.1em;
//   vertical-align: baseline;
// }

// .recommendation_intro .btn-icon {
//   vertical-align: sub;
// }

// #arrow-next { padding-left: 0.4em; }
// #arrow-previous { padding-right: 0.4em; }
// #arrow-related {
//   position: static;
//   margin: 15px 2px 0px 0px;
//   height: 0.7em;
// }




/* ------------------------------------------------------------ */
/* ---------------------DESKTOP SECTION------------------------- */
/* ------------------------------------------------------------ */

@media (max-width: 1200px) {}

@media (min-width: 1042px) {}

/* ------------------------------------------------------------ */
/* ---------------------TABLET SECTION------------------------- */
/* ------------------------------------------------------------ */

// ---- iPad PRO (1042 x 1366) ---- //
@media (max-width: 1042px) {
  ::ng-deep .paragraph-text p { font-size: 20px; line-height: 1.3;}

  .next_project{ font-size: var(--font-size-primary-xs); margin-bottom: 0;}

  .recommendation_intro{ grid-area: intro; margin-bottom: 20px; }
  .recommendation_info{ grid-area: info; }

  .icon { &::after, &::before { height: 4px; } }
}

// ---- IPAD (768 x 1042) ---- //
@media (max-width: 768px) {
  #gpt_images { padding: 30px 15px; }
  .single-img { padding: 5px !important; }
}

/* ------------------------------------------------------------ */
/* ---------------------MOBILE SECTION------------------------- */
/* ------------------------------------------------------------ */

/* 36em = 576px */
// ---- iPhone Plus + iPhone Flipped (approx 560px width)---- //
@media (max-width: 36em) {
  span#project_title { line-height: 0.9; }

  [class="default-project-info"] { grid-area: titlemobile; width: 80%; padding: 0px var(--margin-s) 10px 0px;}

  span#project_artist { padding: 0px 0px; }

  label.collapsible-button { width: 70%; }

  .icon { &::after, &::before { height: 3px; width: 13px; right: -20px; top: 40%;}}

}

// ---- iPhone 6/7/8/X (375 x 667/812)---- //
@media (max-width: 375px) {
  ::ng-deep .paragraph-text p { font-size: 15px; line-height: 1.3; }

  .comp_textblock_paragraph { width: 90%; }
  span#project_artist { padding: 5px 0px; }
}

// ---- iPhone 5/SE (320 x 568)---- //
@media (max-width: 320px) {}