<div class="project-page">
    <div class="project-body-container">

        <!-- for each COMPONENT OF BODY ---------------------------------------------------- -->
        <ng-container *ngFor="let body of project.body, let i = index" 
        class="section-grid"> 

<!-- title + name ---------------------------------------------------- -->
<!-- title + name ---------------------------------------------------- -->
            <!-- COMPONENT > "project-related-info.title" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'project-related-info.title'" 
            class="section-grid">
                <div class="project-title">{{project.body[i].title}}</div>
            </div>
            <!-- COMPONENT > "project-related-info.name" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'project-related-info.name'" 
            class="section-grid">
                <div class="project-author">{{project.body[i].name}}</div>
            </div>



<!-- addon addon addon addon ---------------------------------------------------- -->
<!-- addon addon addon addon ---------------------------------------------------- -->
            <!-- COMPONENT > "addon.javascript-file-name" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'addon.javascript-file-name'" 
            class="">
                <!-- ------------- custom-design-javascript ------------- -->
                <div *ngIf="project.body[i].javascript_file_name?.length" 
                class="">
                    <app-custom-design-javascript [project]="project.body[i].javascript_file_name"></app-custom-design-javascript>
                </div>
            </div>
            <!-- COMPONENT > "addon.html-css" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'addon.html-css' " 
            class="">
                <!-- ------------- custom-design-blankHTML ------------- -->
                <div *ngIf="project.body[i].add_html_css?.length" 
                class="">
                    <app-custom-design-html-css [project]="project.body[i].add_html_css"></app-custom-design-html-css>
                </div>
            </div>
            <!-- COMPONENT > "addon.website" ---------------------------------------------------- -->
            <div *ngIf=" project.body[i].__component === 'addon.website' " 
            class="">
                <!-- ------------- custom-design-iframe ------------- -->
                <div *ngIf="project.body[i].website_link?.length" 
                class="">
                    <app-custom-design-iframe [project]="project.body[i].website_link"></app-custom-design-iframe>
                </div>
            </div>


        </ng-container>















    <!-- ----------------------- add gpt images ----------------------- -->
    <div id="gpt_images"></div>

    <!-- ----------------------- recommendations ----------------------- -->
    <div class="recommendation">
        <div class="recommendation_intro">
            <h2>Related item</h2>
            <h2>--</h2>
        </div>
        <div class="recommendation_title">
            <h1>Title</h1>
            <h3>author</h3>
        </div>
    </div>

    <!-- ----------------------- PREVIOUS / NEXT ----------------------- -->
    <div class="next_project">
        <div class="previous_button">
            <h4>-- previous</h4>
        </div>
        <div class="next_button">
            <h4>next --</h4>
        </div>
    </div>



    </div>
</div>
<router-outlet></router-outlet>