// ------ back button ------- //
.btn-back2hub {
  z-index: 9999;
  font-family: '2070';
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  display: flex;
  left: var(--margin);
  float: left;
  top: 30px;
  color: black;
}

.btn-back2hub a {
  color: black;
  text-decoration: none;
  padding: 0px 0px 0px 15px;
}

// ------ themes ------ //

.project-theme-container { grid-area: themes; padding: 30px var(--margin) 0px 0px;}

.themes {
  display: inline-block;
  color: black;
  border: 2px solid black;
  margin: 0px 10px 10px 0px;
  padding: 5px 15px 5px 15px;
  font-family: var(--font-family-secondary);
  font-size: 15px;
  width: auto;
}



// ------ BODY ------- //

.project-title, .related-title {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: var(--font-size-primary-s);
  margin: 0px;
}

.project-artist, .related-author {
  font-family: var(--font-family-secondary);
  font-size: 20px;
}

.project-cover-media {
  padding: 30px 0px 0px 0px;
}

.caption {
  font-family: var(--font-family-secondary);
  font-size: 12px;
}


.project-intro {
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: var(--font-size-primary-s);
  line-height: 1;
  padding: 20px 0px 20px 0px;
  grid-area: intro;
}


.project-subhead {
  font-family: var(--font-family-primary);
  font-size: 20px;
  grid-area: subhead;
}

.project-description {
  grid-area: main;
  font-family: var(--font-family-secondary);
  font-size: 20px;
}

.project-related {
  grid-area: sidebar;
}




// ---------- side comments ------------
.markdown_container{
  position: relative;
}
.side_comments{
  grid-area: sidebar;
  grid-row: 1;
  background-color: chartreuse;
  width: 30vw;
  height: auto;
}
.side_comments div{
  background-color: chocolate;
  width: 30vw;
}
.side_comment{
  opacity: 0;
  align-self: start;
  position: relative;
  background-color: aqua;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}



// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new

.project-page {
  margin: 0px;
  background-color: white;
  color: var(--color-black);
}
// ------ BODY ------- //
// ------ BODY ------- //
// ----------------------- GRID CONFIGURATIONS ----------------------- 

.project-body-container {
  // padding: 90px var(--margin) 100px var(--margin);
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
      ". . themes themes"
      ". . title title"
      ". intro intro intro"
      ". subhead subhead ."
      ". text text text"
      ". t_machine t_machine t_machine"
      ". . . t_m_background"
      ". remark remark remark"
      ". relation relation relation"
      " all all all all"
      " left left right right"
      " next next next next "
      ". default default default";
  
}

// ----------------------- cms style classes ----------------------- 
.width_small{     width: 30%;}
.width_medium{    width: 50%;}
.width_large{     width: 100%;}

.aline_left{      text-align: left;}
.aline_center{    text-align: center;}
.aline_right{     text-align: right;}

.width_small, .width_medium, .width_large, .aline_left, .aline_center, .aline_right{
  grid-area: all;
  width: 100%;
}

[class="default-project-info"] { grid-area: title; width: 100%; padding: 20px var(--margin) 20px 0px; background-color: pink;}

// ----------------------- title font ----------------------- 
.project-title{

}

// ----------------------- gpt images ----------------------- 
#gpt_images{
  grid-area: all;
  width: 100%;
}



// \\\\\\\\\\\\\\\\\\\\\\\\\\\ transfer from perspective \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// transfer from perspective /////////////////////////// 

    // add your code here          add your code here       add your code here 





// \\\\\\\\\\\\\\\\\\\\\\\\\\\ transfer from perspective \\\\\\\\\\\\\\\\\\\\\\\\\\\
// /////////////////////////// transfer from perspective ///////////////////////////




// ----------------------- recommendations -----------------------
.recommendation{
  height: auto;
}
.recommendation_intro{}
.recommendation_title{}
@media (max-width: 48em) {
  .recommendation{
    grid-area: all;
    display: inline-block;
  }
  .recommendation_intro{
    grid-area: right;
    width: 100%;
  }
  .recommendation_title{
    grid-area: left;
    width: 100%;
  }
}
@media (min-width: 48em) {
  .recommendation{
    grid-area: all;
    display: flex;
    height: 500px;
  }
  .recommendation_intro{
    grid-area: right;
    width: 100%;
  }
  .recommendation_title{
    grid-area: left;
    width: 100%;
  }
}

// ----------------------- PREVIOUS / NEXT ----------------------- 
.next_project{
  grid-area: next;
  display: flex;
}
.previous_button{
  grid-area: next;
  width: 100%;
}
.next_button{
  grid-area: next;
  width: 100%;
  text-align: right;
}
.next_button a{
  float: right;
}

