// ------ themes ------ //

.project-theme-container { grid-area: themes; padding: 35px var(--margin) 0px 0px;}

.themes {
  display: inline-block;
  color: black;
  border: 2px solid black;
  margin: 0px 10px 10px 0px;
  padding: 5px 15px 5px 15px;
  font-family: var(--font-family-secondary);
  font-size: 15px;
  width: auto;
}

// padding for header // 
header {
  padding-bottom: 20vh;
}


// ------ BODY ------- //

.project-title, .related-title {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: var(--font-size-primary-s);
  margin: 0px;
}

span#project_artist {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-primary);
  line-height: 1;
}

span#project_title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-secondary);
  line-height: 1;
}

.project-cover-media {
  padding: 30px 0px 0px 0px;
}

.caption {
  font-family: var(--font-family-secondary);
  font-size: 12px;
}


.project-intro {
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: var(--font-size-primary-s);
  line-height: 1;
  padding: 20px 0px 20px 0px;
  grid-area: intro;
}


.project-subhead {
  font-family: var(--font-family-primary);
  font-size: 20px;
  grid-area: subhead;
}

.project-description {
  grid-area: main;
  font-family: var(--font-family-secondary);
  font-size: 20px;
}

.project-related {
  grid-area: sidebar;
}




// ---------- side comments ------------
// .markdown_container{
//   position: relative;
// }
// .side_comments{
//   grid-area: sidebar;
//   grid-row: 1;
//   background-color: chartreuse;
//   width: 30vw;
//   height: auto;
// }
// .side_comments div{
//   background-color: chocolate;
//   width: 30vw;
// }
// .side_comment{
//   opacity: 0;
//   align-self: start;
//   position: relative;
//   background-color: aqua;
// }

// .fade-in {
//   animation: fadeIn ease 2s;
//   -webkit-animation: fadeIn ease 2s;
//   -moz-animation: fadeIn ease 2s;
//   -o-animation: fadeIn ease 2s;
//   -ms-animation: fadeIn ease 2s;
// }



// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new
// NEW new NEW new NEW new NEW new NEW new NEW new NEW new NEW
// new NEW new NEW new NEW new NEW new NEW new NEW new NEW new

::ng-deep .paragraph-text p {
  font-size: 25px;
  line-height: 1.3;
}

.project-page {
  margin: 0px;
  background-color: white;
  color: var(--color-black);

  // padding: 90px 0px 100px 0px;
}


// \\\\\\\\\\\\\\\\\\\\\\\\\\\ BODY \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// BODY /////////////////////////// 

// ----------------------- GRID CONFIGURATIONS ----------------------- 
// grid config with center-left alignment for project themes, artist name and project title
.header-grid {
  // padding: 90px var(--margin) 100px var(--margin);
  display: grid;
  grid-template-columns: 20% 30% 10% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
      ". . themes themes themes"
      ". . title title title"
      " all all all all all"
      ". default default default default";
}
[class="default-project-info"] { grid-area: title; width: 100%; padding: 0px var(--margin) 10px 0px;}



// ----------------------- gpt images ----------------------- 
#gpt_images{
  grid-area: all;
  width: 100%;
}




// \\\\\\\\\\\\\\\\\\\\\\\\\\\ text types \\\\\\\\\\\\\\\\\\\\\\\\\\\ 
// /////////////////////////// text types /////////////////////////// 


// COMPONENT > "free_text" ---------------------------------------------------- 
.free_text { width: 100%; }
// .width_small, .width_medium, .width_large, .align_left, .align_center, .align_right { grid-area: all; }




// \\\\\\\\\\\\\\\\\\\\\\\\\\\ CURATORIAL TEXT \\\\\\\\\\\\\\\\\\\\\\\\\\\
// /////////////////////////// CURATORIAL TEXT ///////////////////////////

input[type='checkbox'] { display: none; }

label.collapsible-button {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-secondary);
  font-weight: 400;
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 20px var(--margin) -10px var(--margin);
  vertical-align: bottom;
}

.content span {
  font-family: var(--font-size-secondary);
  font-size: 2em;
  margin: 0px;
}

.curatorial-content {
  max-height: 0em;
  overflow: hidden;
  transition: max-height .6s ease-in-out;
  background-color: black;
  color: white;
}

  .curatorial-content-wrapper {
    margin: 20px var(--margin);
  }

    #curatorial-intro {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-primary-s);
      font-weight: 300;
      line-height: 1.2;
      // padding: 20px var(--margin);
    }

    #curatorial-description {
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-primary-s);
      font-weight: 300;
      line-height: 1.2;
    }

#event:checked + .collapsible-button + .curatorial-content { 
  max-height: 100em; 
}

.icon {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
  
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    background-color: black;
    width: 32px;
    height: 6px;
    transition: .4s ease;
  }
  
  &.show-more::after {
    transform: rotate(-90deg) ;
  }
  &.show-more::before {
    transform: rotate(-180deg) ;
  }
}



// ---------------------------------------------------------------

.project_additional_link {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
      "left right"
      "next next"
      "intro intro"
      "info info";
}

// ----------------------- recommendations -----------------------
.recommendation{
  height: auto;
  margin: var(--margin-s);
  color: black;
  // display: inline-block;

  // flex-direction: column;
}
.recommendation_info a {
color: black;
}
.recommendation_info a:hover {
  color: var(--color-rosa);
}
.recommendation_intro{
  grid-area: left;
  // grid-column: 1 / span 1;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: var(--font-size-secondary);
  line-height: 0.9em;
}
.recommendation_info{
  grid-area: right;
  // grid-column: 2 / span 1;

  font-family: var(--font-family-secondary);
}
.recommendation_title{
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 1em;
}
.recommendation_author{
  font-weight: 300;
  font-size: var(--font-size-secondary);
}
li{
  list-style-type: none;
  margin-bottom: 60px;
}
@media (max-width: 48em) {

  // .project_additional_link {
  //   grid-template-columns: 100%;
  //   grid-template-areas: 
  //     "hundert";
  // }
  .recommendation{
  }
  .recommendation_intro{
    grid-area: intro;
    margin-bottom: 20px;
    // font-size: 30px;
  }
  .recommendation_info{
    grid-area: info;
  }
}
@media (min-width: 48em) {
  .recommendation{
  }
  .recommendation_intro{
  }
  .recommendation_info{
  }
}

// ----------------------- PREVIOUS / NEXT ----------------------- 
.next_project{
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: 2rem;
  
  // grid-area: next;
  display: flex;
  margin: var(--margin-s);
}
.next_project a{
  color: black;
}
.next_project a:hover{
  color: var(--color-rosa);
}
.previous_button, .next_button{
  margin-bottom: 50px;
  width: 100%;
  grid-area: next;
}
.previous_button{
}
.next_button{
  text-align: right;
}







@media (max-width: 48em) {
  .next_project{
    font-size: 1rem;
    // margin: 15px;
    margin-bottom: 0;
  }
  .btn-back2hub{
    font-size: 1em; 
    // left: 15px;
  }
  .recommendation{
    margin: 15px;
  }
}