


<!-- Testing the Browser Plattform -->
<!-- Testing the Browser Plattform -->
<!-- Testing the Browser Plattform -->
<!-- Testing the Browser Plattform -->

<!-- <ng-container *ngIf="isWideScreen$ | async">
    Hello world
</ng-container> -->
<!-- <div [ngSwitch]="true">
    <div *ngSwitchCase="platform.BLINK">Chrome</div>
    <div *ngSwitchCase="platform.SAFARI">Safari</div>
</div> -->



<!-- Load the components to the application -->
<!-- Load the components to the application -->
<!-- Load the components to the application -->
<!-- Load the components to the application -->

<!-- CURSOR -->
<app-mouse-cursor-trail></app-mouse-cursor-trail>

<!-- HEADER/NAVIGATION
<app-header></app-header> -->

<!-- TEMPORARY ANNOUNCEMENT PAGE -->
<!-- <app-announcement id="announcement-page"></app-announcement> -->

<!-- URL ROUTING CONTENT -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<app-footer></app-footer>

<!--  PODCAST PLAYER -->
<app-player></app-player>