.page-impressum {
    // height: 60vh;
    background-color: white;
    color: black;
    padding: 100px var(--margin) 0px var(--margin);
    padding-bottom: 30px;
}

.page-impressum p {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-primary-s);
    font-weight: 300;
}

.page-impressum a {
    // text-decoration: none;
    color: black;
}

.page-impressum a:hover {
    color: var(--color-rosa);
}


.impressum_institution, .impressum_team, .impressum_copyright_ownership_declaration{
    margin-bottom: 50px;
}

.impressum_light{
    font-family: var(--font-family-primary);
    font-size: 1.75rem;
    font-weight: 300;  
}
.impressum_small{
    font-family: var(--font-family-primary);
    font-size: 16pt;
    font-weight: 300;    
}
.impressum_link{
    margin: 10px 0px 10px 0px;
}
.impressum_promoted_by{
    margin: 40px 0px 40px 0px;
}
.impressum_subtitle{
    padding-top: 15px;
}
#impressum_datenschutz{
    text-decoration: underline;
}