<div class="page-impressum">

    <h2>Impressum</h2>

    <p>Die Ausstellung „Aus heutiger Sicht. Diskurse über Zukunft“ ist ein Projekt des <a href="https://www.museumangewandtekunst.de/" >Museums für Angewandte Kunst</a> Frankfurt am Main in Kooperation mit der <a href="https://www.hfg-offenbach.de/">Hochschule für Gestaltung (HfG)</a> Offenbach am Main. Sie wird gefördert durch die Dr. Marschner Stiftung und steht unter der Schirmherrschaft der hessischen Staatsministerin für Wissenschaft und Kunst.</p>

</div>

