<app-header></app-header>

<div class="page-impressum">

    <h2 class="impressum_top_title">{{impressum.title}}</h2>

    

<!-- involved_party ------------------------------------------------------------ -->
<!-- involved_party ------------------------------------------------------------ -->
<!-- involved_party ------------------------------------------------------------ -->
    <div *ngFor="let involved_party of impressum.involved_party, let i = index" 
    class="perspective_body"> 
<!-- __component: add-institution ---------------------------------------------- -->
        <div *ngIf=" impressum.involved_party[i].__component === 'impressum-involved-party.add-institution'"
        class="impressum_institution">
                <h3 class="impressum_title" *ngIf="impressum.involved_party[i].name?.length">
                    {{ impressum.involved_party[i].name }}
                </h3>
                <div class="impressum_text">
                    <div *ngIf="impressum.involved_party[i].address?.length">
                        {{ impressum.involved_party[i].address }}
                    </div>
                    <div *ngIf="impressum.involved_party[i].phone?.length">
                        {{ impressum.involved_party[i].phone }}
                    </div>
                    <div class="impressum_link">
                        <a *ngIf="impressum.involved_party[i].website_link?.length"
                        href="https://{{impressum.involved_party[i].website_link}}"
                        target="_blank">
                            {{ impressum.involved_party[i].website_link }}
                        </a>
                    </div>
                </div>
                
                <h3 class="impressum_title" *ngIf="impressum.involved_party[i].responsible_person_title?.length">
                    {{ impressum.involved_party[i].responsible_person_title }}
                </h3>
                <div *ngIf="impressum.involved_party[i].responsible_person_name?.length"
                class="impressum_light" >
                    {{ impressum.involved_party[i].responsible_person_name }}
                </div>
                
        </div>
<!-- __component: add-team ---------------------------------------------- -->
        <div *ngIf=" impressum.involved_party[i].__component === 'impressum-involved-party.add-team'"
        class="impressum_team impressum_distance">
            <h3 class="impressum_title" *ngIf="impressum.involved_party[i].title?.length">
                {{ impressum.involved_party[i].title }}
            </h3>
            <div *ngIf="impressum.involved_party[i].team_members?.length"
            class="impressum_text">
                <markdown class="paragraph">
                    {{ impressum.involved_party[i].team_members }}
                </markdown>
            </div>
        
        </div>
<!-- __component: add-single-party ---------------------------------------------- -->
        <div *ngIf=" impressum.involved_party[i].__component === 'impressum-involved-party.add-single-party'"
        class="impressum_single_party">

            <h3 class="impressum_title" *ngIf="impressum.involved_party[i].profession?.length">
                {{ impressum.involved_party[i].profession }}
            </h3>
            <div *ngIf="impressum.involved_party[i].name?.length"
            class="impressum_text">
                {{ impressum.involved_party[i].name }}
            </div>
                <a *ngIf="impressum.involved_party[i].website_link?.length"
                href="https://{{ impressum.involved_party[i].website_link }}" 
                target="_blank"
                class="impressum_title impressum_MAIL">
                    {{ impressum.involved_party[i].website_link }}
                </a>
        </div>
    </div>

<!-- promoted_by ------------------------------------------------------------ -->
<!-- promoted_by ------------------------------------------------------------ -->
<!-- promoted_by ------------------------------------------------------------ -->
<div *ngIf="impressum.promoted_by?.length"
class="impressum_title">
    <markdown class="paragraph" id="promoted_by">
        {{ impressum.promoted_by }}
    </markdown>
</div>

<!-- copyright_ownership_declaration ------------------------------------------------------------ -->
<!-- copyright_ownership_declaration ------------------------------------------------------------ -->
<!-- copyright_ownership_declaration ------------------------------------------------------------ -->
<div *ngIf="impressum.copyright_ownership_declaration?.length" 
class="impressum_copyright_ownership_declaration">
    <markdown class="paragraph" id="ownership-declaration">
        {{ impressum.copyright_ownership_declaration }}
    </markdown>
</div>

<!-- privacy_policy ------------------------------------------------------------ -->
<!-- privacy_policy ------------------------------------------------------------ -->
<!-- privacy_policy ------------------------------------------------------------ -->

<a *ngIf="impressum.privacy_policy_link?.length" 
href="https://{{ impressum.privacy_policy_link }}" 
target="_blank"
id="impressum_datenschutz">
    <ng-container *ngIf="impressum.privacy_policy_title?.length">
        {{ impressum.privacy_policy_title }}
    </ng-container>
</a>


</div>

<router-outlet></router-outlet>
