<div class="next_project">
    <a class="previous_button" 
    [routerLink]="['/units/' + unit_type + '/' + previous_project ]" >
        <img class="btn-icon" id="arrow-previous" src="/assets/logos/2070_arrow_left.png" alt="previous">
        <div >Previous</div>
    </a>
    <a class="next_button" 
    [routerLink]="['/units/' + unit_type + '/' + next_project ]" >
        <div>Next </div>
        <img class="btn-icon" id="arrow-next" src="/assets/logos/2070_arrow_right.png" alt="next">
    </a>
</div>

