<div class="next_project">
    <a class="previous_button" id="prev-btn"
    [routerLink]="['/index', previous_unit_type, previous_item ]" >
        <span class="btn-icon" id="arrow-previous">&#x2190;</span>Voheriges
    </a>
    <a class="next_button" id="next-btn" (click)="next()"
    [routerLink]="['/index', next_unit_type, next_item ]" >
        Nächstes<span class="btn-icon" id="arrow-next">&#x2192;</span>
    </a>
</div>


    <!-- <a class="previous_button" 
    [routerLink]="['/index', previous_unit_type, previous_item ]">
        <img class="btn-icon" id="arrow-previous" src="/assets/logos/2070_arrow_left.png" alt="previous">
        <div >Previous</div>
    </a>
    <a class="next_button" (click)="next()"
    [routerLink]="['/index', next_unit_type, next_item ]">
    <div>Next </div>
    <img class="btn-icon" id="arrow-next" src="/assets/logos/2070_arrow_right.png" alt="next">
</a>
</div> -->
<!-- [routerLink]="['/index/' + next_unit_type + '/' + next_item ]" 
[routerLink]="['/index/' + previous_unit_type + '/' + previous_item ]" 
(click)="next()"-->
