// ----------------------- PREVIOUS / NEXT ----------------------- 
.next_project{
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 2rem;
    
    // grid-area: next;
    display: flex;
    margin: var(--margin-s);
  }
  .next_project div{
    color: black;
  }
  .next_project div:hover{
    color: var(--color-rosa);
  }
  .previous_button, .next_button{
    margin-bottom: 50px;
    width: 100%;
    grid-area: next;
    position: relative;
  }
  
  #arrow-next {
    right: 0px;
  }
  
  #arrow-related {
    position: static;
    margin: 15px 2px 0px 0px;
    height: 0.7em;
  }
  
  .previous_button div {
    padding: 0px 0px 0px 35px;
  }
  
  .next_button div {
    padding: 0px 35px 0px 0px;
  }
  
  .next_button{
    text-align: right;
  }

  .btn-icon {
    height: 0.8em;
    position: absolute;
    top: 20%;
  }