#über {
    padding-top: var(--padding-between-sections);
    padding-bottom: var(--padding-between-sections);
    margin-left: var(--margin);
    margin-right: var(--margin);

    position: static;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    z-index: 1;
    color: white;
    font-size: var(--font-size-primary);
    line-height: 1.2;

    // ----- ALREADY DEFINED IN MAIN style.scss ----- //
    font-family: var(--font-family-secondary);
    font-weight: 400;
}

.text-title {
    font-family: var(--font-family-primary);
    font-weight: 300;
    position: relative;
}

.text-circlednumbers {
    font-family: "2070CircledNumbers";
    font-weight: 300;
}

// ----------- PAGE LOADER CONFIG ------------ //
.animate {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  }
  
  /*=== FADE IN  ===*/
  @-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  .fadeIn {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
  }