#about {
    padding-top: var(--padding-between-sections);
    padding-bottom: var(--padding-between-sections);
    margin-left: var(--margin);
    margin-right: var(--margin);

    position: static;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    z-index: 1;
    color: white;
    font-size: var(--font-size-primary);
    line-height: 1.2;

    // ----- ALREADY DEFINED IN MAIN style.scss ----- //
    // font-family: var(--font-family-secondary);
    // font-weight: 400;
}

.text-title {
    font-family: var(--font-family-primary);
    font-weight: 300;
}

.text-circlednumbers {
    font-family: "2070CircledNumbers";
    font-weight: 300;
}