<!-- COMPONENT > "paragraph-plain" ---------------------------------------------------- -->
<ng-container *ngIf=" body.__typename === 'ComponentAddonMachinePerspective'"
class="section-grid">

    <div class="section-grid bundle">
        <div class="wrapper">
            <markdown innerHTML="{{pass_machineGenerated_bundle_01}}" id="bundle_01" class="machineTextContent-bundle">
            </markdown>
            <markdown innerHTML="{{pass_machineGenerated_bundle_02}}" id="bundle_02" class="machineTextContent-bundle">
            </markdown>
            <markdown innerHTML="{{pass_machineGenerated_bundle_03}}" id="bundle_03" class="machineTextContent-bundle">
            </markdown>
            <markdown innerHTML="{{pass_machineGenerated_bundle_03}}" class="machineTextContent-bundle ghost">
            </markdown>
        </div>
    </div>

    <button class="btnGenerateText" (click)="generateText()">
        Generate Text 
        <div id="arrow">&#x2192;</div>
        <div id="loader"></div>
    </button>


    <div class="section-grid bundle">

        <markdown innerHTML="{{pass_machineGenerated_question}}" class="machineTextQuestions" id="machineText">
        </markdown>

        <div class="wrapper">
            <markdown innerHTML="{{pass_machineGenerated_content}}" class="machineTextContent" id="machineQuestion">
            </markdown><span>...</span>
        </div>

    </div>
    
</ng-container>

