.btn-back2hub {
    z-index: 9999;
    font-family: '2070';
    font-weight: 400;
    font-size: 30px;
    position: fixed;
    display: flex;
    left: var(--margin-s);
    float: left;
    top: 30px;
    color: black;
}

.btn-back2hub a {
    color: black;
    text-decoration: none;
    padding: 0px 0px 0px 30px;
}

.btn-icon {
    height: 0.8em;
    position: absolute;
    top: 20%;
}